<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.RentBillamountVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.billamount.RentBillamountVO" >
    <id column="billamount_id" property="billamountId" jdbcType="VARCHAR" />
    <result column="rentcontract_id" property="rentcontractId" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_address" property="supplierAddress" jdbcType="VARCHAR" />
    <result column="supplier_contact" property="supplierContact" jdbcType="VARCHAR" />
    <result column="supplier_telephone" property="supplierTelephone" jdbcType="VARCHAR" />
    <result column="bank_user" property="bankUser" jdbcType="VARCHAR" />
    <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="billamount_code" property="billamountCode" jdbcType="VARCHAR" />
    <result column="billamount_date" property="billamountDate" jdbcType="DATE" />
    <result column="billamount_withtax" property="billamountWithtax" jdbcType="DECIMAL" />
    <result column="billamount_notax" property="billamountNotax" jdbcType="DECIMAL" />
    <result column="billamount_taxamount" property="billamountTaxamount" jdbcType="DECIMAL" />
    <result column="billamount_state" property="billamountState" jdbcType="INTEGER" />
    <result column="billamount_note" property="billamountNote" jdbcType="VARCHAR" />
    <result column="user_number" property="userNumber" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <association property="rentContractVO.datContractVO.sysRegionVO" javaType="com.xunge.model.system.region.SysRegionVO">
	    <id column="reg_id" property="regId" jdbcType="VARCHAR" />
	    <result column="reg_name" property="regName" jdbcType="VARCHAR" />
	    <result column="preg_name" property="pRegName" jdbcType="VARCHAR" />
	    <result column="preg_id" property="pregId" jdbcType="VARCHAR" />
    </association>
    <collection property="rentBillamountDetail" ofType="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" column="billamount_id" select="com.xunge.dao.RentBillamountDetailVOMapper.selectByBillamountId"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    rba.billamount_id,rba.rentcontract_id, rba.supplier_code, rba.supplier_name, rba.supplier_address, rba.supplier_contact, 
    rba.supplier_telephone, rba.bank_user, rba.deposit_bank, rba.bank_account, rba.billamount_code, rba.billamount_date, 
    rba.billamount_withtax, rba.billamount_notax, rba.billamount_taxamount, rba.billamount_state, rba.billamount_note, 
    rba.user_number, rba.user_name,
	reg.preg_name,
  	reg.reg_name
  </sql>
  <select id="queryRentBillamountById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rent_billamount rba
	join rent_contract rc on rc.rentcontract_id=rba.rentcontract_id
	join dat_contract dc on dc.contract_id=rc.contract_id
	inner join v_sys_region reg on reg.reg_id=dc.reg_id
    where rba.billamount_id = #{billamountId,jdbcType=VARCHAR}
  </select>
  <select id="queryRentBillamountPage" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from rent_billamount rba
    
	join rent_contract rc on rc.rentcontract_id=rba.rentcontract_id
	join dat_contract dc on dc.contract_id=rc.contract_id
	inner join v_sys_region reg on reg.reg_id=dc.reg_id
    <where>
			<if test="billamountCode != '' and billamountCode != null">
				rba.billamount_code like CONCAT('%,', #{billamountCode}, ',%')
			</if>
			
			<if test="billamountDateStart != '' and billamountDateStart != null">
				<![CDATA[and rba.billamount_date >= #{billamountDateStart,jdbcType=DATE}]]> 
			</if>
			<if test="billamountDateEnd != '' and billamountDateEnd != null">
				<![CDATA[and rba.billamount_date <= #{billamountDateEnd,jdbcType=DATE} ]]> 
			</if>
			
			<if test="billamountState != '' and billamountState != null">
				and rba.billamount_state = #{billamountState}
			</if>
			<if test="rentcontractId != '' and rentcontractId != null">
				and (dc.contract_code like CONCAT('%,', #{rentcontractId}, ',%')
					or dc.contract_name like CONCAT('%,', #{rentcontractId}, ',%')
				)
			</if>
			<if test="supplierCode != '' and supplierCode != null">
				and (rba.supplier_code like CONCAT('%,', #{supplierCode}, ',%')
					or rba.supplier_name like CONCAT('%,', #{supplierCode}, ',%')
				)
			</if>
			<if test="baseresourceId != '' and baseresourceId != null">
				and (rba.contract_code like CONCAT('%,', #{baseresourceId}, ',%')
					or rba.contract_name like CONCAT('%,', #{baseresourceId}, ',%')
				)
			</if>
		
			
			<if test="prvId != '' and prvId != null">
				and reg.prv_id = #{prvId}
			</if>
			<if test="pregId != '' and pregId != null">
				and reg.preg_id = #{pregId}
			</if>
			<!-- 根据权限过滤 -->
   			<include refid="com.xunge.dao.system.SysRegionVOMapper.queryRegionByUserIds"></include>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.xunge.model.selfrent.billamount.RentBillamountVO" >
    insert into rent_billamount (billamount_id, rentcontract_id, supplier_code, 
      supplier_name, supplier_address, supplier_contact, 
      supplier_telephone, bank_user, deposit_bank, 
      bank_account, billamount_code, billamount_date, 
      billamount_withtax, billamount_notax, billamount_taxamount, 
      billamount_state, billamount_note, user_number, 
      user_name)
    values (#{billamountId,jdbcType=VARCHAR}, #{rentcontractId,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR}, #{supplierContact,jdbcType=VARCHAR}, 
      #{supplierTelephone,jdbcType=VARCHAR}, #{bankUser,jdbcType=VARCHAR}, #{depositBank,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{billamountCode,jdbcType=VARCHAR}, #{billamountDate,jdbcType=DATE}, 
      #{billamountWithtax,jdbcType=DECIMAL}, #{billamountNotax,jdbcType=DECIMAL}, #{billamountTaxamount,jdbcType=DECIMAL}, 
      #{billamountState,jdbcType=INTEGER}, #{billamountNote,jdbcType=VARCHAR}, #{userNumber,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xunge.model.selfrent.billamount.RentBillamountVO" >
    insert into rent_billamount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billamountId != null" >
        billamount_id,
      </if>
      <if test="rentcontractId != null" >
        rentcontract_id,
      </if>
      <if test="supplierCode != null" >
        supplier_code,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierAddress != null" >
        supplier_address,
      </if>
      <if test="supplierContact != null" >
        supplier_contact,
      </if>
      <if test="supplierTelephone != null" >
        supplier_telephone,
      </if>
      <if test="bankUser != null" >
        bank_user,
      </if>
      <if test="depositBank != null" >
        deposit_bank,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="billamountCode != null" >
        billamount_code,
      </if>
      <if test="billamountDate != null" >
        billamount_date,
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax,
      </if>
      <if test="billamountNotax != null" >
        billamount_notax,
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount,
      </if>
      <if test="billamountState != null" >
        billamount_state,
      </if>
      <if test="billamountNote != null" >
        billamount_note,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billamountId != null" >
        #{billamountId,jdbcType=VARCHAR},
      </if>
      <if test="rentcontractId != null" >
        #{rentcontractId,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierContact != null" >
        #{supplierContact,jdbcType=VARCHAR},
      </if>
      <if test="supplierTelephone != null" >
        #{supplierTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="billamountCode != null" >
        #{billamountCode,jdbcType=VARCHAR},
      </if>
      <if test="billamountDate != null" >
        #{billamountDate,jdbcType=DATE},
      </if>
      <if test="billamountWithtax != null" >
        #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountState != null" >
        #{billamountState,jdbcType=INTEGER},
      </if>
      <if test="billamountNote != null" >
        #{billamountNote,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.selfrent.billamount.RentBillamountVO" >
    update rent_billamount
    <set >
      <if test="rentcontractId != null" >
        rentcontract_id = #{rentcontractId,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierContact != null" >
        supplier_contact = #{supplierContact,jdbcType=VARCHAR},
      </if>
      <if test="supplierTelephone != null" >
        supplier_telephone = #{supplierTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        bank_user = #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        deposit_bank = #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="billamountCode != null" >
        billamount_code = #{billamountCode,jdbcType=VARCHAR},
      </if>
      <if test="billamountDate != null" >
        billamount_date = #{billamountDate,jdbcType=DATE},
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountState != null" >
        billamount_state = #{billamountState,jdbcType=INTEGER},
      </if>
      <if test="billamountNote != null" >
        billamount_note = #{billamountNote,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunge.model.selfrent.billamount.RentBillamountVO" >
    update rent_billamount
    set rentcontract_id = #{rentcontractId,jdbcType=VARCHAR},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      supplier_contact = #{supplierContact,jdbcType=VARCHAR},
      supplier_telephone = #{supplierTelephone,jdbcType=VARCHAR},
      bank_user = #{bankUser,jdbcType=VARCHAR},
      deposit_bank = #{depositBank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      billamount_code = #{billamountCode,jdbcType=VARCHAR},
      billamount_date = #{billamountDate,jdbcType=DATE},
      billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      billamount_state = #{billamountState,jdbcType=INTEGER},
      billamount_note = #{billamountNote,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </update>
</mapper>