<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.RentBillamountDetailVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" >
    <id column="billamountdetail_id" property="billamountdetailId" jdbcType="VARCHAR" />
    <result column="billamount_id" property="billamountId" jdbcType="VARCHAR" />
    <result column="billamount_price" property="billamountPrice" jdbcType="DECIMAL" />
    <result column="billamount_number" property="billamountNumber" jdbcType="DECIMAL" />
    <result column="billamount_notax" property="billamountNotax" jdbcType="DECIMAL" />
    <result column="billamount_taxratio" property="billamountTaxratio" jdbcType="DECIMAL" />
    <result column="billamount_taxamount" property="billamountTaxamount" jdbcType="DECIMAL" />
    <result column="billamount_withtax" property="billamountWithtax" jdbcType="DECIMAL" />
    <result column="billamount_startdate" property="billamountStartdate" jdbcType="DATE" />
    <result column="billamount_enddate" property="billamountEnddate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    billamountdetail_id, billamount_id, billamount_price, billamount_number, billamount_notax, 
    billamount_taxratio, billamount_taxamount, billamount_withtax, billamount_startdate, 
    billamount_enddate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rent_billamountdetail
    where billamountdetail_id = #{billamountdetailId,jdbcType=VARCHAR}
  </select>
  <select id="selectByBillamountId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rent_billamountdetail
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rent_billamountdetail
    where billamountdetail_id = #{billamountdetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertRentBillamountDetail" parameterType="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" >
    insert into rent_billamountdetail (billamountdetail_id, billamount_id, 
      billamount_price, billamount_number, billamount_notax, 
      billamount_taxratio, billamount_taxamount, 
      billamount_withtax, billamount_startdate, billamount_enddate
      )
    values (#{billamountdetailId,jdbcType=VARCHAR}, #{billamountId,jdbcType=VARCHAR}, 
      #{billamountPrice,jdbcType=DECIMAL}, #{billamountNumber,jdbcType=DECIMAL}, #{billamountNotax,jdbcType=DECIMAL}, 
      #{billamountTaxratio,jdbcType=DECIMAL}, #{billamountTaxamount,jdbcType=DECIMAL}, 
      #{billamountWithtax,jdbcType=DECIMAL}, #{billamountStartdate,jdbcType=DATE}, #{billamountEnddate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertRentBillamountDetailList" parameterType="java.util.List" >
    insert into rent_billamountdetail (billamountdetail_id, billamount_id, 
      billamount_price, billamount_number, billamount_notax, 
      billamount_taxratio, billamount_taxamount, 
      billamount_withtax, billamount_startdate, billamount_enddate
      )
    values
    <foreach collection="list" item="item" index="index" separator="," >  
     (#{item.billamountdetailId,jdbcType=VARCHAR}, #{item.billamountId,jdbcType=VARCHAR}, 
      #{item.billamountPrice,jdbcType=DECIMAL}, #{item.billamountNumber,jdbcType=DECIMAL}, #{item.billamountNotax,jdbcType=DECIMAL}, 
      #{item.billamountTaxratio,jdbcType=DECIMAL}, #{item.billamountTaxamount,jdbcType=DECIMAL}, 
      #{item.billamountWithtax,jdbcType=DECIMAL}, #{item.billamountStartdate,jdbcType=DATE}, #{item.billamountEnddate,jdbcType=DATE}
      )
    </foreach> 
  </insert>
  
  <insert id="insertSelective" parameterType="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" >
    insert into rent_billamountdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billamountdetailId != null" >
        billamountdetail_id,
      </if>
      <if test="billamountId != null" >
        billamount_id,
      </if>
      <if test="billamountPrice != null" >
        billamount_price,
      </if>
      <if test="billamountNumber != null" >
        billamount_number,
      </if>
      <if test="billamountNotax != null" >
        billamount_notax,
      </if>
      <if test="billamountTaxratio != null" >
        billamount_taxratio,
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount,
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax,
      </if>
      <if test="billamountStartdate != null" >
        billamount_startdate,
      </if>
      <if test="billamountEnddate != null" >
        billamount_enddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billamountdetailId != null" >
        #{billamountdetailId,jdbcType=VARCHAR},
      </if>
      <if test="billamountId != null" >
        #{billamountId,jdbcType=VARCHAR},
      </if>
      <if test="billamountPrice != null" >
        #{billamountPrice,jdbcType=DECIMAL},
      </if>
      <if test="billamountNumber != null" >
        #{billamountNumber,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxratio != null" >
        #{billamountTaxratio,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountWithtax != null" >
        #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountStartdate != null" >
        #{billamountStartdate,jdbcType=DATE},
      </if>
      <if test="billamountEnddate != null" >
        #{billamountEnddate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" >
    update rent_billamountdetail
    <set >
      <if test="billamountId != null" >
        billamount_id = #{billamountId,jdbcType=VARCHAR},
      </if>
      <if test="billamountPrice != null" >
        billamount_price = #{billamountPrice,jdbcType=DECIMAL},
      </if>
      <if test="billamountNumber != null" >
        billamount_number = #{billamountNumber,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxratio != null" >
        billamount_taxratio = #{billamountTaxratio,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountStartdate != null" >
        billamount_startdate = #{billamountStartdate,jdbcType=DATE},
      </if>
      <if test="billamountEnddate != null" >
        billamount_enddate = #{billamountEnddate,jdbcType=DATE},
      </if>
    </set>
    where billamountdetail_id = #{billamountdetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunge.model.selfrent.billamount.RentBillamountDetailVO" >
    update rent_billamountdetail
    set billamount_id = #{billamountId,jdbcType=VARCHAR},
      billamount_price = #{billamountPrice,jdbcType=DECIMAL},
      billamount_number = #{billamountNumber,jdbcType=DECIMAL},
      billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      billamount_taxratio = #{billamountTaxratio,jdbcType=DECIMAL},
      billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      billamount_startdate = #{billamountStartdate,jdbcType=DATE},
      billamount_enddate = #{billamountEnddate,jdbcType=DATE}
    where billamountdetail_id = #{billamountdetailId,jdbcType=VARCHAR}
  </update>
</mapper>