<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.basedata.system.SysDictionaryMapper" >
  
  <select id="querySysDictionary" resultType="com.xunge.model.system.region.DictionaryVO" parameterType="java.util.Map">
  		SELECT 
  		sdg.dictgroup_code AS dictgroupCode,
  		sdg.dictgroup_name  AS dictgroupName,
  		sd.dict_name AS dictName,
  		sd.dict_value AS dictValue
		FROM sys_dictionarygroup AS sdg , sys_dictionary AS sd
		WHERE sdg.dictgroup_id = sd.dictgroup_id
		AND sdg.prv_id = 000000
		<if test="null != groupId">
			AND sd.dictgroup_id = #{groupId}
		</if>
  </select>
</mapper>