<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.system.sysRegionDaoImpl" >
  
  <select id="getPrvIdByCode" parameterType="String" resultType="java.lang.String">
  	select prv_id from sys_province where prv_code=#{prvcode} and prv_state=9
  </select>
  
  <select id="getRegIdByCode" parameterType="Map" resultType="String">
  	select reg_id from sys_region where reg_code=#{regcode} and prv_id=#{prvId} and reg_state = 0
  </select>
  
  <select id="getRegionsByPrvid" parameterType="Map" resultType="map">
  	select reg_code,reg_id from sys_region where prv_id=#{prvId} and reg_state = 0
  </select>
  
</mapper>