<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.basedata.system.SysUserMapper">
	<resultMap id="BaseResultMapUser" type="com.xunge.model.system.SysUserVO">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="reg_id" property="regId" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="user_loginname" property="userLoginname" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
		<result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
		<result column="user_email" property="userEmail" jdbcType="VARCHAR" />
		<result column="user_note" property="userNote" jdbcType="VARCHAR" />
		<result column="user_state" property="userState" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="user_class" property="userClass" jdbcType="VARCHAR" />
		<result column="is_valid" property="isValid" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		user_id, reg_id, user_code, user_loginname, user_name,
		user_password,
		user_phone,
		user_email, user_note, user_state,user_class,
		create_time, modify_time, is_valid
	</sql>
	<!-- 查询所有用户信息 -->
	<select id="queryAllAdminUser" resultMap="BaseResultMapUser" parameterType="Map" >
		select
		<include refid="Base_Column_List" />
		from sys_user
		where 
		user_state = 0
		and INSTR(user_loginname,'admin')
	</select>	
</mapper>