<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunge.dao.util.CodeGeneratorUtilDao">
  
  <!-- 查询最小不连续code -->
  <select id="selectMinCodeFromTable" parameterType="Map" resultType="java.lang.String"> 
	select MIN(substring(${colName}, 2)+1)
	from ${tableName}
	where 1=1
		<if test="parentId != null and parentId!=''">  
    		and ${pcolName}=#{parentId, jdbcType=VARCHAR}
			and substring(${colName}, 2)+1 not in (
				select substring(${colName}, 2) from ${tableName} where ${pcolName}=#{parentId, jdbcType=VARCHAR}
			)
    	</if>
   </select> 
  <!-- 查询自增最大code -->
  <select id="selectMaxCodeFromTable" parameterType="Map" resultType="java.lang.String"> 
	select MAX(substring(${colName}, 2)+1) from ${tableName}
   </select> 
    <!-- 查询最大code -->
  <select id="selectMaxCodeAllInfoFromTable" parameterType="Map" resultType="java.lang.String"> 
	select max(${colName})
	from ${tableName}
	
	<if test="whereSql != null and whereSql!=''">  
		where ${whereSql}
	</if>
	limit 1
  </select>
</mapper>
