<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.job.EleContractCollectionVOMapper">
	<resultMap id="BaseResultMap" type="com.xunge.model.job.EleContractCollectionVO">
		<id column="elecontract_id" property="elecontractId" jdbcType="VARCHAR" />
		<result column="contract_id" property="contractId" jdbcType="VARCHAR" />
		<result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
		<result column="paymentperiod_id" property="paymentperiodId"
			jdbcType="VARCHAR" />
		<result column="price_type" property="priceType" jdbcType="INTEGER" />
		<result column="elecontract_price" property="elecontractPrice"
			jdbcType="VARCHAR" />
		<result column="include_price_tax" property="includePriceTax"
			jdbcType="INTEGER" />
		<result column="flat_price" property="flatPrice" jdbcType="DECIMAL" />
		<result column="peak_price" property="peakPrice" jdbcType="DECIMAL" />
		<result column="valley_price" property="valleyPrice" jdbcType="DECIMAL" />
		<result column="top_price" property="topPrice" jdbcType="DECIMAL" />
		<result column="supply_method" property="supplyMethod"
			jdbcType="INTEGER" />
		<result column="buy_method" property="buyMethod" jdbcType="INTEGER" />
		<result column="payment_method" property="paymentMethod"
			jdbcType="INTEGER" />
		<result column="include_tax" property="includeTax" jdbcType="INTEGER" />
		<result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
		<result column="is_include_all" property="isIncludeAll"
			jdbcType="INTEGER" />
		<result column="pay_sign" property="paySign" jdbcType="INTEGER" />
		<result column="pay_sign_account" property="paySignAccount"
			jdbcType="DECIMAL" />
		<result column="contract_money" property="contractMoney"
			jdbcType="DECIMAL" />
		<result column="contract_tax" property="contractTax" jdbcType="DECIMAL" />
		<result column="contract_total_amount" property="contractTotalAmount"
			jdbcType="DECIMAL" />
		<result column="contract_year_amount" property="contractYearAmount"
			jdbcType="DECIMAL" />
		<result column="independent_meter" property="independentMeter"
			jdbcType="INTEGER" />
		<result column="cmcc_ratio" property="cmccRatio" jdbcType="DECIMAL" />
		<result column="unicom_ratio" property="unicomRatio" jdbcType="DECIMAL" />
		<result column="telcom_ratio" property="telcomRatio" jdbcType="DECIMAL" />
		<result column="include_loss" property="includeLoss" jdbcType="INTEGER" />
		<result column="loss_type" property="lossType" jdbcType="INTEGER" />
		<result column="payment_user" property="paymentUser" jdbcType="VARCHAR" />
		<result column="payment_telphone" property="paymentTelphone"
			jdbcType="VARCHAR" />
		<result column="elecontract_note" property="elecontractNote"
			jdbcType="VARCHAR" />
		<result column="supplier_code" property="supplierCode"
			jdbcType="VARCHAR" />
		<result column="supplier_name" property="supplierName"
			jdbcType="VARCHAR" />
		<result column="supplier_site" property="supplierSite"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="EleContractResultMap" type="com.xunge.model.selfelec.EleContract">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jul 17 
			13:43:30 CST 2017. -->
		<id column="elecontract_id" jdbcType="VARCHAR" property="elecontractId" />
		<result column="contract_id" jdbcType="VARCHAR" property="contractId" />
		<result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
		<result column="paymentperiod_id" jdbcType="VARCHAR" property="paymentperiodId" />
		<result column="price_type" jdbcType="INTEGER" property="priceType" />
		<result column="elecontract_price" jdbcType="VARCHAR" property="elecontractPrice" />
		<result column="include_price_tax" jdbcType="INTEGER" property="includePriceTax" />
		<result column="flat_price" jdbcType="DECIMAL" property="flatPrice" />
		<result column="peak_price" jdbcType="DECIMAL" property="peakPrice" />
		<result column="valley_price" jdbcType="DECIMAL" property="valleyPrice" />
		<result column="top_price" jdbcType="DECIMAL" property="topPrice" />
		<result column="supply_method" jdbcType="INTEGER" property="supplyMethod" />
		<result column="buy_method" jdbcType="INTEGER" property="buyMethod" />
		<result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
		<result column="include_tax" jdbcType="INTEGER" property="includeTax" />
		<result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
		<result column="is_include_all" jdbcType="INTEGER" property="isIncludeAll" />
		<result column="pay_sign" jdbcType="INTEGER" property="paySign" />
		<result column="pay_sign_account" jdbcType="DECIMAL" property="paySignAccount" />
		<result column="contract_money" jdbcType="DECIMAL" property="contractMoney" />
		<result column="contract_tax" jdbcType="DECIMAL" property="contractTax" />
		<result column="contract_total_amount" jdbcType="DECIMAL"
			property="contractTotalAmount" />
		<result column="contract_year_amount" jdbcType="DECIMAL"
			property="contractYearAmount" />
		<result column="independent_meter" jdbcType="INTEGER" property="independentMeter" />
		<result column="cmcc_ratio" jdbcType="DECIMAL" property="cmccRatio" />
		<result column="unicom_ratio" jdbcType="DECIMAL" property="unicomRatio" />
		<result column="telcom_ratio" jdbcType="DECIMAL" property="telcomRatio" />
		<result column="include_loss" jdbcType="INTEGER" property="includeLoss" />
		<result column="loss_type" jdbcType="INTEGER" property="lossType" />
		<result column="payment_user" jdbcType="VARCHAR" property="paymentUser" />
		<result column="payment_telphone" jdbcType="VARCHAR" property="paymentTelphone" />
		<result column="elecontract_note" jdbcType="VARCHAR" property="elecontractNote" />
	</resultMap>

	<sql id="Base_Column_List">
		elecontract_id, contract_id, supplier_id, paymentperiod_id,
		price_type,
		elecontract_price,
		include_price_tax, flat_price,
		peak_price, valley_price, top_price, supply_method,
		buy_method,
		payment_method, include_tax, tax_rate, is_include_all,
		pay_sign,
		pay_sign_account,
		contract_money, contract_tax, contract_total_amount,
		contract_year_amount,
		independent_meter,
		cmcc_ratio, unicom_ratio,
		telcom_ratio, include_loss, loss_type, payment_user,
		payment_telphone,
		elecontract_note, supplier_code, supplier_name, supplier_site
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ele_contract_collection
		where elecontract_id =
		#{elecontractId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		ele_contract_collection
		where elecontract_id =
		#{elecontractId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xunge.model.job.EleContractCollectionVO">
		insert into
		ele_contract_collection (elecontract_id, contract_id,
		supplier_id,
		paymentperiod_id, price_type, elecontract_price,
		include_price_tax,
		flat_price, peak_price,
		valley_price, top_price, supply_method,
		buy_method, payment_method, include_tax,
		tax_rate, is_include_all,
		pay_sign,
		pay_sign_account, contract_money, contract_tax,
		contract_total_amount, contract_year_amount,
		independent_meter,
		cmcc_ratio, unicom_ratio,
		telcom_ratio, include_loss, loss_type,
		payment_user, payment_telphone, elecontract_note,
		supplier_code,
		supplier_name, supplier_site
		)
		values
		(#{elecontractId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR},
		#{supplierId,jdbcType=VARCHAR},
		#{paymentperiodId,jdbcType=VARCHAR},
		#{priceType,jdbcType=INTEGER}, #{elecontractPrice,jdbcType=VARCHAR},
		#{includePriceTax,jdbcType=INTEGER}, #{flatPrice,jdbcType=DECIMAL},
		#{peakPrice,jdbcType=DECIMAL},
		#{valleyPrice,jdbcType=DECIMAL},
		#{topPrice,jdbcType=DECIMAL}, #{supplyMethod,jdbcType=INTEGER},
		#{buyMethod,jdbcType=INTEGER}, #{paymentMethod,jdbcType=INTEGER},
		#{includeTax,jdbcType=INTEGER},
		#{taxRate,jdbcType=DECIMAL},
		#{isIncludeAll,jdbcType=INTEGER}, #{paySign,jdbcType=INTEGER},
		#{paySignAccount,jdbcType=DECIMAL}, #{contractMoney,jdbcType=DECIMAL},
		#{contractTax,jdbcType=DECIMAL},
		#{contractTotalAmount,jdbcType=DECIMAL},
		#{contractYearAmount,jdbcType=DECIMAL},
		#{independentMeter,jdbcType=INTEGER}, #{cmccRatio,jdbcType=DECIMAL},
		#{unicomRatio,jdbcType=DECIMAL},
		#{telcomRatio,jdbcType=DECIMAL},
		#{includeLoss,jdbcType=INTEGER}, #{lossType,jdbcType=INTEGER},
		#{paymentUser,jdbcType=VARCHAR}, #{paymentTelphone,jdbcType=VARCHAR},
		#{elecontractNote,jdbcType=VARCHAR},
		#{supplierCode,jdbcType=VARCHAR},
		#{supplierName,jdbcType=VARCHAR}, #{supplierSite,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xunge.model.job.EleContractCollectionVO">
		insert into ele_contract_collection
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="elecontractId != null">
				elecontract_id,
			</if>
			<if test="contractId != null">
				contract_id,
			</if>
			<if test="supplierId != null">
				supplier_id,
			</if>
			<if test="paymentperiodId != null">
				paymentperiod_id,
			</if>
			<if test="priceType != null">
				price_type,
			</if>
			<if test="elecontractPrice != null">
				elecontract_price,
			</if>
			<if test="includePriceTax != null">
				include_price_tax,
			</if>
			<if test="flatPrice != null">
				flat_price,
			</if>
			<if test="peakPrice != null">
				peak_price,
			</if>
			<if test="valleyPrice != null">
				valley_price,
			</if>
			<if test="topPrice != null">
				top_price,
			</if>
			<if test="supplyMethod != null">
				supply_method,
			</if>
			<if test="buyMethod != null">
				buy_method,
			</if>
			<if test="paymentMethod != null">
				payment_method,
			</if>
			<if test="includeTax != null">
				include_tax,
			</if>
			<if test="taxRate != null">
				tax_rate,
			</if>
			<if test="isIncludeAll != null">
				is_include_all,
			</if>
			<if test="paySign != null">
				pay_sign,
			</if>
			<if test="paySignAccount != null">
				pay_sign_account,
			</if>
			<if test="contractMoney != null">
				contract_money,
			</if>
			<if test="contractTax != null">
				contract_tax,
			</if>
			<if test="contractTotalAmount != null">
				contract_total_amount,
			</if>
			<if test="contractYearAmount != null">
				contract_year_amount,
			</if>
			<if test="independentMeter != null">
				independent_meter,
			</if>
			<if test="cmccRatio != null">
				cmcc_ratio,
			</if>
			<if test="unicomRatio != null">
				unicom_ratio,
			</if>
			<if test="telcomRatio != null">
				telcom_ratio,
			</if>
			<if test="includeLoss != null">
				include_loss,
			</if>
			<if test="lossType != null">
				loss_type,
			</if>
			<if test="paymentUser != null">
				payment_user,
			</if>
			<if test="paymentTelphone != null">
				payment_telphone,
			</if>
			<if test="elecontractNote != null">
				elecontract_note,
			</if>
			<if test="supplierCode != null">
				supplier_code,
			</if>
			<if test="supplierName != null">
				supplier_name,
			</if>
			<if test="supplierSite != null">
				supplier_site,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="elecontractId != null">
				#{elecontractId,jdbcType=VARCHAR},
			</if>
			<if test="contractId != null">
				#{contractId,jdbcType=VARCHAR},
			</if>
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="paymentperiodId != null">
				#{paymentperiodId,jdbcType=VARCHAR},
			</if>
			<if test="priceType != null">
				#{priceType,jdbcType=INTEGER},
			</if>
			<if test="elecontractPrice != null">
				#{elecontractPrice,jdbcType=VARCHAR},
			</if>
			<if test="includePriceTax != null">
				#{includePriceTax,jdbcType=INTEGER},
			</if>
			<if test="flatPrice != null">
				#{flatPrice,jdbcType=DECIMAL},
			</if>
			<if test="peakPrice != null">
				#{peakPrice,jdbcType=DECIMAL},
			</if>
			<if test="valleyPrice != null">
				#{valleyPrice,jdbcType=DECIMAL},
			</if>
			<if test="topPrice != null">
				#{topPrice,jdbcType=DECIMAL},
			</if>
			<if test="supplyMethod != null">
				#{supplyMethod,jdbcType=INTEGER},
			</if>
			<if test="buyMethod != null">
				#{buyMethod,jdbcType=INTEGER},
			</if>
			<if test="paymentMethod != null">
				#{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="includeTax != null">
				#{includeTax,jdbcType=INTEGER},
			</if>
			<if test="taxRate != null">
				#{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="isIncludeAll != null">
				#{isIncludeAll,jdbcType=INTEGER},
			</if>
			<if test="paySign != null">
				#{paySign,jdbcType=INTEGER},
			</if>
			<if test="paySignAccount != null">
				#{paySignAccount,jdbcType=DECIMAL},
			</if>
			<if test="contractMoney != null">
				#{contractMoney,jdbcType=DECIMAL},
			</if>
			<if test="contractTax != null">
				#{contractTax,jdbcType=DECIMAL},
			</if>
			<if test="contractTotalAmount != null">
				#{contractTotalAmount,jdbcType=DECIMAL},
			</if>
			<if test="contractYearAmount != null">
				#{contractYearAmount,jdbcType=DECIMAL},
			</if>
			<if test="independentMeter != null">
				#{independentMeter,jdbcType=INTEGER},
			</if>
			<if test="cmccRatio != null">
				#{cmccRatio,jdbcType=DECIMAL},
			</if>
			<if test="unicomRatio != null">
				#{unicomRatio,jdbcType=DECIMAL},
			</if>
			<if test="telcomRatio != null">
				#{telcomRatio,jdbcType=DECIMAL},
			</if>
			<if test="includeLoss != null">
				#{includeLoss,jdbcType=INTEGER},
			</if>
			<if test="lossType != null">
				#{lossType,jdbcType=INTEGER},
			</if>
			<if test="paymentUser != null">
				#{paymentUser,jdbcType=VARCHAR},
			</if>
			<if test="paymentTelphone != null">
				#{paymentTelphone,jdbcType=VARCHAR},
			</if>
			<if test="elecontractNote != null">
				#{elecontractNote,jdbcType=VARCHAR},
			</if>
			<if test="supplierCode != null">
				#{supplierCode,jdbcType=VARCHAR},
			</if>
			<if test="supplierName != null">
				#{supplierName,jdbcType=VARCHAR},
			</if>
			<if test="supplierSite != null">
				#{supplierSite,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.job.EleContractCollectionVO">
		update ele_contract_collection
		<set>
			<if test="contractId != null">
				contract_id = #{contractId,jdbcType=VARCHAR},
			</if>
			<if test="supplierId != null">
				supplier_id = #{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="paymentperiodId != null">
				paymentperiod_id = #{paymentperiodId,jdbcType=VARCHAR},
			</if>
			<if test="priceType != null">
				price_type = #{priceType,jdbcType=INTEGER},
			</if>
			<if test="elecontractPrice != null">
				elecontract_price = #{elecontractPrice,jdbcType=VARCHAR},
			</if>
			<if test="includePriceTax != null">
				include_price_tax = #{includePriceTax,jdbcType=INTEGER},
			</if>
			<if test="flatPrice != null">
				flat_price = #{flatPrice,jdbcType=DECIMAL},
			</if>
			<if test="peakPrice != null">
				peak_price = #{peakPrice,jdbcType=DECIMAL},
			</if>
			<if test="valleyPrice != null">
				valley_price = #{valleyPrice,jdbcType=DECIMAL},
			</if>
			<if test="topPrice != null">
				top_price = #{topPrice,jdbcType=DECIMAL},
			</if>
			<if test="supplyMethod != null">
				supply_method = #{supplyMethod,jdbcType=INTEGER},
			</if>
			<if test="buyMethod != null">
				buy_method = #{buyMethod,jdbcType=INTEGER},
			</if>
			<if test="paymentMethod != null">
				payment_method = #{paymentMethod,jdbcType=INTEGER},
			</if>
			<if test="includeTax != null">
				include_tax = #{includeTax,jdbcType=INTEGER},
			</if>
			<if test="taxRate != null">
				tax_rate = #{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="isIncludeAll != null">
				is_include_all = #{isIncludeAll,jdbcType=INTEGER},
			</if>
			<if test="paySign != null">
				pay_sign = #{paySign,jdbcType=INTEGER},
			</if>
			<if test="paySignAccount != null">
				pay_sign_account = #{paySignAccount,jdbcType=DECIMAL},
			</if>
			<if test="contractMoney != null">
				contract_money = #{contractMoney,jdbcType=DECIMAL},
			</if>
			<if test="contractTax != null">
				contract_tax = #{contractTax,jdbcType=DECIMAL},
			</if>
			<if test="contractTotalAmount != null">
				contract_total_amount =
				#{contractTotalAmount,jdbcType=DECIMAL},
			</if>
			<if test="contractYearAmount != null">
				contract_year_amount =
				#{contractYearAmount,jdbcType=DECIMAL},
			</if>
			<if test="independentMeter != null">
				independent_meter = #{independentMeter,jdbcType=INTEGER},
			</if>
			<if test="cmccRatio != null">
				cmcc_ratio = #{cmccRatio,jdbcType=DECIMAL},
			</if>
			<if test="unicomRatio != null">
				unicom_ratio = #{unicomRatio,jdbcType=DECIMAL},
			</if>
			<if test="telcomRatio != null">
				telcom_ratio = #{telcomRatio,jdbcType=DECIMAL},
			</if>
			<if test="includeLoss != null">
				include_loss = #{includeLoss,jdbcType=INTEGER},
			</if>
			<if test="lossType != null">
				loss_type = #{lossType,jdbcType=INTEGER},
			</if>
			<if test="paymentUser != null">
				payment_user = #{paymentUser,jdbcType=VARCHAR},
			</if>
			<if test="paymentTelphone != null">
				payment_telphone = #{paymentTelphone,jdbcType=VARCHAR},
			</if>
			<if test="elecontractNote != null">
				elecontract_note = #{elecontractNote,jdbcType=VARCHAR},
			</if>
			<if test="supplierCode != null">
				supplier_code = #{supplierCode,jdbcType=VARCHAR},
			</if>
			<if test="supplierName != null">
				supplier_name = #{supplierName,jdbcType=VARCHAR},
			</if>
			<if test="supplierSite != null">
				supplier_site = #{supplierSite,jdbcType=VARCHAR},
			</if>
		</set>
		where elecontract_id = #{elecontractId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xunge.model.job.EleContractCollectionVO">
		update
		ele_contract_collection
		set contract_id =
		#{contractId,jdbcType=VARCHAR},
		supplier_id =
		#{supplierId,jdbcType=VARCHAR},
		paymentperiod_id =
		#{paymentperiodId,jdbcType=VARCHAR},
		price_type =
		#{priceType,jdbcType=INTEGER},
		elecontract_price =
		#{elecontractPrice,jdbcType=VARCHAR},
		include_price_tax =
		#{includePriceTax,jdbcType=INTEGER},
		flat_price =
		#{flatPrice,jdbcType=DECIMAL},
		peak_price =
		#{peakPrice,jdbcType=DECIMAL},
		valley_price =
		#{valleyPrice,jdbcType=DECIMAL},
		top_price =
		#{topPrice,jdbcType=DECIMAL},
		supply_method =
		#{supplyMethod,jdbcType=INTEGER},
		buy_method =
		#{buyMethod,jdbcType=INTEGER},
		payment_method =
		#{paymentMethod,jdbcType=INTEGER},
		include_tax =
		#{includeTax,jdbcType=INTEGER},
		tax_rate = #{taxRate,jdbcType=DECIMAL},
		is_include_all = #{isIncludeAll,jdbcType=INTEGER},
		pay_sign =
		#{paySign,jdbcType=INTEGER},
		pay_sign_account =
		#{paySignAccount,jdbcType=DECIMAL},
		contract_money =
		#{contractMoney,jdbcType=DECIMAL},
		contract_tax =
		#{contractTax,jdbcType=DECIMAL},
		contract_total_amount =
		#{contractTotalAmount,jdbcType=DECIMAL},
		contract_year_amount =
		#{contractYearAmount,jdbcType=DECIMAL},
		independent_meter =
		#{independentMeter,jdbcType=INTEGER},
		cmcc_ratio =
		#{cmccRatio,jdbcType=DECIMAL},
		unicom_ratio =
		#{unicomRatio,jdbcType=DECIMAL},
		telcom_ratio =
		#{telcomRatio,jdbcType=DECIMAL},
		include_loss =
		#{includeLoss,jdbcType=INTEGER},
		loss_type =
		#{lossType,jdbcType=INTEGER},
		payment_user =
		#{paymentUser,jdbcType=VARCHAR},
		payment_telphone =
		#{paymentTelphone,jdbcType=VARCHAR},
		elecontract_note =
		#{elecontractNote,jdbcType=VARCHAR},
		supplier_code =
		#{supplierCode,jdbcType=VARCHAR},
		supplier_name =
		#{supplierName,jdbcType=VARCHAR},
		supplier_site =
		#{supplierSite,jdbcType=VARCHAR}
		where elecontract_id =
		#{elecontractId,jdbcType=VARCHAR}
	</update>

	<insert id="batchInsertColl" useGeneratedKeys="true"
		parameterType="java.util.List">
		insert into ele_contract_collection (elecontract_id, contract_id,
		supplier_id,
		paymentperiod_id, price_type, elecontract_price,
		include_price_tax, flat_price, peak_price,
		valley_price, top_price,
		supply_method,
		buy_method, payment_method, include_tax,
		tax_rate,
		is_include_all, pay_sign,
		pay_sign_account, contract_money,
		contract_tax,
		contract_total_amount, contract_year_amount,
		independent_meter, cmcc_ratio, unicom_ratio,
		telcom_ratio,
		include_loss, loss_type,
		payment_user, payment_telphone,
		elecontract_note,
		supplier_code, supplier_name, supplier_site
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.elecontractId,jdbcType=VARCHAR},
			#{item.contractId,jdbcType=VARCHAR},
			#{item.supplierId,jdbcType=VARCHAR},
			#{item.paymentperiodId,jdbcType=VARCHAR},
			#{item.priceType,jdbcType=INTEGER},
			#{item.elecontractPrice,jdbcType=VARCHAR},
			#{item.includePriceTax,jdbcType=INTEGER},
			#{item.flatPrice,jdbcType=DECIMAL},
			#{item.peakPrice,jdbcType=DECIMAL},
			#{item.valleyPrice,jdbcType=DECIMAL},
			#{item.topPrice,jdbcType=DECIMAL},
			#{item.supplyMethod,jdbcType=INTEGER},
			#{item.buyMethod,jdbcType=INTEGER},
			#{item.paymentMethod,jdbcType=INTEGER},
			#{item.includeTax,jdbcType=INTEGER},
			#{item.taxRate,jdbcType=DECIMAL},
			#{item.isIncludeAll,jdbcType=INTEGER},
			#{item.paySign,jdbcType=INTEGER},
			#{item.paySignAccount,jdbcType=DECIMAL},
			#{item.contractMoney,jdbcType=DECIMAL},
			#{item.contractTax,jdbcType=DECIMAL},
			#{item.contractTotalAmount,jdbcType=DECIMAL},
			#{item.contractYearAmount,jdbcType=DECIMAL},
			#{item.independentMeter,jdbcType=INTEGER},
			#{item.cmccRatio,jdbcType=DECIMAL},
			#{item.unicomRatio,jdbcType=DECIMAL},
			#{item.telcomRatio,jdbcType=DECIMAL},
			#{item.includeLoss,jdbcType=INTEGER},
			#{item.lossType,jdbcType=INTEGER},
			#{item.paymentUser,jdbcType=VARCHAR},
			#{item.paymentTelphone,jdbcType=VARCHAR},
			#{item.elecontractNote,jdbcType=VARCHAR},
			#{item.supplierCode,jdbcType=VARCHAR},
			#{item.supplierName,jdbcType=VARCHAR},
			#{item.supplierSite,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
		insert into ele_contract (elecontract_id, contract_id, supplier_id,
		paymentperiod_id, price_type, elecontract_price,
		include_price_tax,
		flat_price, peak_price,
		valley_price, top_price, supply_method,
		buy_method, payment_method, include_tax,
		tax_rate, is_include_all,
		pay_sign,
		pay_sign_account, contract_money, contract_tax,
		contract_total_amount, contract_year_amount,
		independent_meter,
		cmcc_ratio, unicom_ratio,
		telcom_ratio, include_loss, loss_type,
		payment_user, payment_telphone, elecontract_note
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.elecontractId,jdbcType=VARCHAR},
			#{item.contractId,jdbcType=VARCHAR},
			#{item.supplierId,jdbcType=VARCHAR},
			#{item.paymentperiodId,jdbcType=VARCHAR},
			#{item.priceType,jdbcType=INTEGER},
			#{item.elecontractPrice,jdbcType=VARCHAR},
			#{item.includePriceTax,jdbcType=INTEGER},
			#{item.flatPrice,jdbcType=DECIMAL},
			#{item.peakPrice,jdbcType=DECIMAL},
			#{item.valleyPrice,jdbcType=DECIMAL},
			#{item.topPrice,jdbcType=DECIMAL},
			#{item.supplyMethod,jdbcType=INTEGER},
			#{item.buyMethod,jdbcType=INTEGER},
			#{item.paymentMethod,jdbcType=INTEGER},
			#{item.includeTax,jdbcType=INTEGER},
			#{item.taxRate,jdbcType=DECIMAL},
			#{item.isIncludeAll,jdbcType=INTEGER},
			#{item.paySign,jdbcType=INTEGER},
			#{item.paySignAccount,jdbcType=DECIMAL},
			#{item.contractMoney,jdbcType=DECIMAL},
			#{item.contractTax,jdbcType=DECIMAL},
			#{item.contractTotalAmount,jdbcType=DECIMAL},
			#{item.contractYearAmount,jdbcType=DECIMAL},
			#{item.independentMeter,jdbcType=INTEGER},
			#{item.cmccRatio,jdbcType=DECIMAL},
			#{item.unicomRatio,jdbcType=DECIMAL},
			#{item.telcomRatio,jdbcType=DECIMAL},
			#{item.includeLoss,jdbcType=INTEGER},
			#{item.lossType,jdbcType=INTEGER},
			#{item.paymentUser,jdbcType=VARCHAR},
			#{item.paymentTelphone,jdbcType=VARCHAR},
			#{item.elecontractNote,jdbcType=VARCHAR})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="record" index="index" open=""
			close="" separator=";">
			update ele_contract
			<set>
				<if test="record.supplierId != null">
					supplier_id = #{record.supplierId,jdbcType=VARCHAR},
				</if>
				<if test="record.paymentperiodId != null">
					paymentperiod_id =
					#{record.paymentperiodId,jdbcType=VARCHAR},
				</if>
				<if test="record.priceType != null">
					price_type = #{record.priceType,jdbcType=INTEGER},
				</if>
				<if test="record.elecontractPrice != null">
					elecontract_price =
					#{record.elecontractPrice,jdbcType=VARCHAR},
				</if>
				<if test="record.includePriceTax != null">
					include_price_tax =
					#{record.includePriceTax,jdbcType=INTEGER},
				</if>
				<if test="record.flatPrice != null">
					flat_price = #{record.flatPrice,jdbcType=DECIMAL},
				</if>
				<if test="record.peakPrice != null">
					peak_price = #{record.peakPrice,jdbcType=DECIMAL},
				</if>
				<if test="record.valleyPrice != null">
					valley_price = #{record.valleyPrice,jdbcType=DECIMAL},
				</if>
				<if test="record.topPrice != null">
					top_price = #{record.topPrice,jdbcType=DECIMAL},
				</if>
				<if test="record.supplyMethod != null">
					supply_method = #{record.supplyMethod,jdbcType=INTEGER},
				</if>
				<if test="record.buyMethod != null">
					buy_method = #{record.buyMethod,jdbcType=INTEGER},
				</if>
				<if test="record.paymentMethod != null">
					payment_method =
					#{record.paymentMethod,jdbcType=INTEGER},
				</if>
				<if test="record.includeTax != null">
					include_tax = #{record.includeTax,jdbcType=INTEGER},
				</if>
				<if test="record.taxRate != null">
					tax_rate = #{record.taxRate,jdbcType=DECIMAL},
				</if>
				<if test="record.isIncludeAll != null">
					is_include_all =
					#{record.isIncludeAll,jdbcType=INTEGER},
				</if>
				<if test="record.paySign != null">
					pay_sign = #{record.paySign,jdbcType=INTEGER},
				</if>
				<if test="record.paySignAccount != null">
					pay_sign_account =
					#{record.paySignAccount,jdbcType=DECIMAL},
				</if>
				<if test="record.contractMoney != null">
					contract_money =
					#{record.contractMoney,jdbcType=DECIMAL},
				</if>
				<if test="record.contractTax != null">
					contract_tax = #{record.contractTax,jdbcType=DECIMAL},
				</if>
				<if test="record.contractTotalAmount != null">
					contract_total_amount =
					#{record.contractTotalAmount,jdbcType=DECIMAL},
				</if>
				<if test="record.contractYearAmount != null">
					contract_year_amount =
					#{record.contractYearAmount,jdbcType=DECIMAL},
				</if>
				<if test="record.independentMeter != null">
					independent_meter =
					#{record.independentMeter,jdbcType=INTEGER},
				</if>
				<if test="record.cmccRatio != null">
					cmcc_ratio = #{record.cmccRatio,jdbcType=DECIMAL},
				</if>
				<if test="record.unicomRatio != null">
					unicom_ratio = #{record.unicomRatio,jdbcType=DECIMAL},
				</if>
				<if test="record.telcomRatio != null">
					telcom_ratio = #{record.telcomRatio,jdbcType=DECIMAL},
				</if>
				<if test="record.includeLoss != null">
					include_loss = #{record.includeLoss,jdbcType=INTEGER},
				</if>
				<if test="record.lossType != null">
					loss_type = #{record.lossType,jdbcType=INTEGER},
				</if>
				<if test="record.paymentUser != null">
					payment_user = #{record.paymentUser,jdbcType=VARCHAR},
				</if>
				<if test="record.paymentTelphone != null">
					payment_telphone =
					#{record.paymentTelphone,jdbcType=VARCHAR}
				</if>
			</set>
			where
			elecontract_note=#{record.elecontractNote}

		</foreach>
	</update>

	<!--查询比对用model -->
	<select id="selectByelecontractNote" resultMap="EleContractResultMap">
		select
		*
		from ele_contract
		where
		elecontract_note=#{elecontractNote,jdbcType=VARCHAR}
	</select>
</mapper>