<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.job.SysProvinceVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.job.SysProvinceVO" >
    <id column="prv_id" property="prvId" jdbcType="VARCHAR" />
    <result column="prv_code" property="prvCode" jdbcType="VARCHAR" />
    <result column="prv_order" property="prvOrder" jdbcType="INTEGER" />
    <result column="prv_sname" property="prvSname" jdbcType="VARCHAR" />
    <result column="prv_name" property="prvName" jdbcType="VARCHAR" />
    <result column="prv_state" property="prvState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    prv_id, prv_code, prv_order, prv_sname, prv_name, prv_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_province
    where prv_id = #{prvId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_province
    where prv_id = #{prvId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xunge.model.job.SysProvinceVO" >
    insert into sys_province (prv_id, prv_code, prv_order, 
      prv_sname, prv_name, prv_state
      )
    values (#{prvId,jdbcType=VARCHAR}, #{prvCode,jdbcType=VARCHAR}, #{prvOrder,jdbcType=INTEGER}, 
      #{prvSname,jdbcType=VARCHAR}, #{prvName,jdbcType=VARCHAR}, #{prvState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xunge.model.job.SysProvinceVO" >
    insert into sys_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prvId != null" >
        prv_id,
      </if>
      <if test="prvCode != null" >
        prv_code,
      </if>
      <if test="prvOrder != null" >
        prv_order,
      </if>
      <if test="prvSname != null" >
        prv_sname,
      </if>
      <if test="prvName != null" >
        prv_name,
      </if>
      <if test="prvState != null" >
        prv_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prvId != null" >
        #{prvId,jdbcType=VARCHAR},
      </if>
      <if test="prvCode != null" >
        #{prvCode,jdbcType=VARCHAR},
      </if>
      <if test="prvOrder != null" >
        #{prvOrder,jdbcType=INTEGER},
      </if>
      <if test="prvSname != null" >
        #{prvSname,jdbcType=VARCHAR},
      </if>
      <if test="prvName != null" >
        #{prvName,jdbcType=VARCHAR},
      </if>
      <if test="prvState != null" >
        #{prvState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.job.SysProvinceVO" >
    update sys_province
    <set >
      <if test="prvCode != null" >
        prv_code = #{prvCode,jdbcType=VARCHAR},
      </if>
      <if test="prvOrder != null" >
        prv_order = #{prvOrder,jdbcType=INTEGER},
      </if>
      <if test="prvSname != null" >
        prv_sname = #{prvSname,jdbcType=VARCHAR},
      </if>
      <if test="prvName != null" >
        prv_name = #{prvName,jdbcType=VARCHAR},
      </if>
      <if test="prvState != null" >
        prv_state = #{prvState,jdbcType=INTEGER},
      </if>
    </set>
    where prv_id = #{prvId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunge.model.job.SysProvinceVO" >
    update sys_province
    set prv_code = #{prvCode,jdbcType=VARCHAR},
      prv_order = #{prvOrder,jdbcType=INTEGER},
      prv_sname = #{prvSname,jdbcType=VARCHAR},
      prv_name = #{prvName,jdbcType=VARCHAR},
      prv_state = #{prvState,jdbcType=INTEGER}
    where prv_id = #{prvId,jdbcType=VARCHAR}
  </update>
</mapper>