<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.mapping.CalParameterVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.towerrent.bizbasedata.CalParameterVO" >
	    <id column="calcparameterregion_id" property="calcparameterregionId" jdbcType="VARCHAR" />
	    <result column="reg_id" property="regId" jdbcType="VARCHAR" />
	    <result column="calcparameter_id" property="calcparameterId" jdbcType="VARCHAR" />
	    <result column="calcparameter_value" property="calcparameterValue" jdbcType="DECIMAL" />
	    <result column="calcparameter_state" property="calcparameterState" jdbcType="INTEGER" />
	    <result column="calcparameter_note" property="calcparameterNote" jdbcType="VARCHAR" />
	    <result column="calcparameter_name" property="calcparameterName" jdbcType="VARCHAR" />
	    <result column="calcparameter_code" property="calcparameterCode" jdbcType="VARCHAR" />
	    <result column="preg_name" property="pregName" jdbcType="VARCHAR" />
	    <result column="preg_id" property="pregId" jdbcType="VARCHAR" />
	    <result column="reg_name" property="regName" jdbcType="VARCHAR" />
  </resultMap>

    <!-- 查询计算参数对象-->
	<select id="queryAllCalParameter" resultMap="BaseResultMap" parameterType="Map">
		     select 
	              calt.calcparameterregion_id,
				  calt.reg_id,
				  reg.preg_id,
				  (select reg_name from sys_region where reg_id = reg.preg_id) preg_name,
				  calt.calcparameter_id,
				  calt.calcparameter_value,
				  calt.calcparameter_state,
				  calt.calcparameter_note,
				  cal.calcparameter_name,
				  cal.calcparameter_code,
				  reg.reg_name
	        from twr_calcparameterregion calt
	        inner join 
	        twr_calcparameter cal
	        on calt.calcparameter_id = cal.calcparameter_id
	        inner join
	        sys_region reg 
	        on calt.reg_id = reg.reg_id
	        <where>
	            calt.calcparameter_state != -1 and reg.prv_id=#{prvId}
	            <if test="calcparameterState != null and calcparameterState != ''">
	                and calt.calcparameter_state = #{calcparameterState,jdbcType=INTEGER}
	            </if>
	            <if test="calcparameterName != null and calcparameterName != ''">
	                and cal.calcparameter_name = #{calcparameterName,jdbcType=VARCHAR}
	            </if>
	        </where>
	</select>
	
	 <!-- 查询计算参数列表-->
	<select id="queryParameterObj" resultMap="BaseResultMap" parameterType="Map">
		     select 
			     calcparameter_id,
			     calcparameter_name,
			     calcparameter_code 
		     from twr_calcparameter
		      <where>
	            <if test="list != null and list.size()>0">
	               calcparameter_name not in
	                <foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
	           	 #{item,jdbcType=VARCHAR}
	                </foreach>
	            </if>
	        </where>
	</select>
	
	 <!-- 删除计算参数对象-->
	<delete id="deleteByCalParameterId" parameterType="Map">
		update twr_calcparameterregion
		set calcparameter_state = -1
		where calcparameterregion_id in 
		<foreach collection="calParamIdList" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	 <!-- 修改计算参数对象 -->
	<update id="updateCalParameterVOById" parameterType="com.xunge.model.towerrent.bizbasedata.CalParameterVO">
		update twr_calcparameterregion
		set
			calcparameter_value = #{calcparameterValue,jdbcType=DECIMAL},
			calcparameter_note = #{calcparameterNote,jdbcType=VARCHAR},
			calcparameter_id =  #{calcparameterId,jdbcType=VARCHAR}
		where calcparameterregion_id = #{calcparameterregionId,jdbcType=VARCHAR}
	</update>
	
	 <!-- 更新计算参数对象-->
	<update id="updateCalParameterState" parameterType="Map">
		update twr_calcparameterregion tc set tc.calcparameter_state = #{calcparameterState,jdbcType=INTEGER} 
		where tc.calcparameterregion_id in 
		<foreach collection="calParamIdList" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	 <!-- 新增计算参数对象 -->
	<insert id="addCalParameterObj" parameterType="Map">
		insert into twr_calcparameterregion
		    (calcparameterregion_id,
			reg_id,
			calcparameter_id,
		    calcparameter_value,
		    calcparameter_state,
		    calcparameter_note)
		values
		 <foreach collection="calParamList" item="item" index="index" separator="," >  
				(
				#{item.calcparameterregionId,jdbcType=VARCHAR},
				#{item.regId,jdbcType=VARCHAR},
				#{item.calcparameterId,jdbcType=VARCHAR},
				#{item.calcparameterValue,jdbcType=DECIMAL},
				0,
				#{item.calcparameterNote,jdbcType=VARCHAR}
				)
    	</foreach>  
	</insert>
	
	 <!-- 按条件查询计算参数对象-->
	<select id="queryCalParameterVOByStateAndName" resultMap="BaseResultMap" parameterType="Map">
        select 
              calt.calcparameterregion_id,
			  calt.reg_id,
			  reg.preg_id,
			  (select reg_name from sys_region where reg_id = reg.preg_id) preg_name,
			  calt.calcparameter_id,
			  calt.calcparameter_value,
			  calt.calcparameter_state,
			  calt.calcparameter_note,
			  cal.calcparameter_name,
			  cal.calcparameter_code,
			  reg.reg_name
        from twr_calcparameterregion calt
        inner join 
        twr_calcparameter cal
        on calt.calcparameter_id = cal.calcparameter_id
        inner join
        sys_region reg 
        on calt.reg_id = reg.reg_id
        where calt.calcparameterregion_id != '' and calt.calcparameter_state != -1 and reg.prv_id=#{prvId}
        <if test="calcparameterState != null and calcparameterState != ''">
	    	and calt.calcparameter_state = #{calcparameterState,jdbcType=INTEGER}
		</if>
		<if test="pregId != null and pregId != ''">
	    	and reg.reg_id = #{pregId,jdbcType=VARCHAR}
		</if>
		<if test="calcparameterName != null and calcparameterName != ''">
	    	and  cal.calcparameter_name like 
	    	CONCAT('%',#{calcparameterName,jdbcType=VARCHAR},'%')
		</if>
	</select>
</mapper>