<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.TowerPrvCheckIndexFineVOMapper" >
    <resultMap id="BaseResultMap" type="com.xunge.model.towerrent.checkmanage.TwrPrvCheckIndexFineVO" >
	    <id property="twrProvincePunishId"    column="twr_province_punish_id"  jdbcType="VARCHAR"/>
	    <result property="accountsummaryId"   column="accountsummary_id"       jdbcType="VARCHAR"/>
	    <result property="regId"              column="reg_id"                  jdbcType="VARCHAR"/>
	    <result property="punishYearMonth"    column="punish_year_month"       jdbcType="VARCHAR"/>
	    <result property="punishName"         column="punishName"              jdbcType="VARCHAR"/>
	    <result property="punishCause"        column="punishCause"             jdbcType="VARCHAR"/>
	    <result property="punishPerson"       column="punishPerson"            jdbcType="VARCHAR"/>
	    <result property="punishAmount"       column="punishAmount"            jdbcType="DECIMAL"/>
	    <result property="state"              column="state"                   jdbcType="INTEGER"/>
	    <result property="auditState"         column="audit_state"             jdbcType="INTEGER"/>
	    <result property="createUserId"       column="create_user_id"          jdbcType="VARCHAR"/>
	    <result property="createTime"         column="create_time"             jdbcType="TIMESTAMP"/>
	    <result property="updateUserId"       column="update_user_id"          jdbcType="VARCHAR"/>
	    <result property="updateTime"         column="update_time"             jdbcType="TIMESTAMP"/>
	    <result property="regName"            column="reg_name"                jdbcType="VARCHAR"/>
	    <result property="prvId"              column="prv_id"                  jdbcType="VARCHAR"/>
    </resultMap>
  
    <!-- 查询省内自设考核指标扣罚对象 -->
	<select id="queryAllPrvCheck" resultMap="BaseResultMap" parameterType="Map">
		SELECT
            pun.twr_province_punish_id,
            pun.accountsummary_id,
            pun.reg_id,
            pun.punish_year_month,
            pun.punishName,
            pun.punishCause,
            pun.punishPerson,
            pun.punishAmount,
            pun.state,
            pun.audit_state,
            pun.create_user_id,
            pun.create_time,
            pun.update_user_id,
            pun.update_time,
            reg.reg_name,
            reg.prv_id
	    FROM twr_province_punish pun
	    INNER JOIN sys_region reg ON pun.reg_id = reg.reg_id 
	    WHERE pun.state != -1
	    <if test="prvId != null and prvId != ''">
		    and  reg.prv_id = #{prvId,jdbcType=VARCHAR}
		</if>
	    <if test="regId != null and regId != ''">
		    and  pun.reg_id = #{regId,jdbcType=VARCHAR}
		</if>
		<if test="regName != null and regName != ''">
		    and  reg.reg_name = #{regName,jdbcType=VARCHAR}
		</if>
		<if test="punishYearMonth != null and punishYearMonth != ''">
		    and  pun.punish_year_month = #{punishYearMonth,jdbcType=TIMESTAMP}
		</if>
	</select>
	
	<!-- 查询省内自设考核指标扣罚 -->
	<select id="queryAllPrvCheckExport" resultMap="BaseResultMap" parameterType="Map">
		SELECT
            pun.twr_province_punish_id,
            pun.accountsummary_id,
            pun.reg_id,
            pun.punish_year_month,
            pun.punishName,
            pun.punishCause,
            pun.punishPerson,
            pun.punishAmount,
            pun.state,
            pun.audit_state,
            pun.create_user_id,
            pun.create_time,
            pun.update_user_id,
            pun.update_time,
            reg.reg_name,
            reg.prv_id
	    FROM twr_province_punish pun
	    INNER JOIN sys_region reg ON pun.reg_id = reg.reg_id 
	    WHERE state != -1
	    <if test="prvId != null and prvId != ''">
		    AND reg.prv_id = #{prvId,jdbcType=VARCHAR}
		</if>
	    <if test="regId != null and regId != ''">
		    AND pun.reg_id = #{regId,jdbcType=VARCHAR}
		</if>
		<if test="punishYearMonth != null and punishYearMonth != ''">
		    AND pun.punish_year_month = #{punishYearMonth,jdbcType=TIMESTAMP}
		</if>
		<if test="prvCheckIdList != null and prvCheckIdList != ''">
		    AND pun.twr_province_punish_id in
			<foreach collection="prvCheckIdList" item="item" index="index" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
    <!-- 导出不含过滤条件 jiacy-->
    <select id="queryExportAllSelect" resultMap="BaseResultMap" parameterType="Map"  >
  		SELECT 
            pun.twr_province_punish_id,
            pun.accountsummary_id,
            pun.reg_id,
            pun.punish_year_month,
            pun.punishName,
            pun.punishCause,
            pun.punishPerson,
            pun.punishAmount,
            pun.state,
            pun.audit_state,
            pun.create_user_id,
            pun.create_time,
            pun.update_user_id,
            pun.update_time,
            reg.reg_name,
            reg.prv_id
	    FROM twr_province_punish pun
	    INNER JOIN sys_region reg ON pun.reg_id = reg.reg_id 
	    WHERE state != -1
   	 	<if test="prvCheckIdList != null and prvCheckIdList != ''">
	        AND pun.twr_province_punish_id in  
	        <foreach collection="prvCheckIdList" item="item" index="index" open="(" separator="," close=")">  
                #{item}
            </foreach> 
	    </if>
    </select>	
	
	<!-- 根据Id查询对象信息 -->
	<select id="queryPrvCheckIndexFineById" resultMap="BaseResultMap" parameterType="String">
		SELECT
	              pun.twr_province_punish_id,
	              pun.accountsummary_id,
	              pun.reg_id,
	              pun.punish_year_month,
	              pun.punishName,
	              pun.punishCause,
	              pun.punishPerson,
	              pun.punishAmount,
	              pun.state,
	              pun.audit_state,
	              pun.create_user_id,
	              pun.create_time,
	              pun.update_user_id,
	              pun.update_time,
	              reg.reg_name,
	              reg.prv_id
	    FROM twr_province_punish pun
	    INNER JOIN sys_region reg ON pun.reg_id = reg.reg_id 
	    WHERE state != -1
		AND pun.twr_province_punish_id = #{checkId,jdbcType=VARCHAR}
	</select>
  
  	<!-- 根据Id删除省内自设考核指标扣罚 -->
	<delete id="deletePrvCheck" parameterType="java.util.List">
	    UPDATE twr_province_punish
		SET state = -1
		WHERE twr_province_punish_id
		IN 
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 更新省内自设考核指标扣罚 -->
	<update id="updatePrvCheck" parameterType="com.xunge.model.towerrent.checkmanage.TwrPrvCheckIndexFineVO">
	   	UPDATE twr_province_punish		
		<set>
		      <if test="regId != null" >
		        	reg_id = #{regId,jdbcType=VARCHAR},
		      </if>
		      <if test="punishYearMonth != null" >
		        	punish_year_month = #{punishYearMonth,jdbcType=VARCHAR},
		      </if>
		      <if test="punishName != null" >
		        	punishName = #{punishName,jdbcType=VARCHAR},
		      </if>
		      <if test="punishCause != null" >
		        	punishCause = #{punishCause,jdbcType=VARCHAR},
		      </if>
		      <if test="punishPerson != null" >
		        	punishPerson = #{punishPerson,jdbcType=VARCHAR},
		      </if>
		      <if test="punishAmount != null" >
		        	punishAmount = #{punishAmount,jdbcType=DECIMAL},
		      </if>
		      <if test="updateUserId != null" >
		        	update_user_id = #{updateUserId,jdbcType=VARCHAR},
		      </if>
		      <if test="updateTime != null" >
		        	update_time = #{updateTime,jdbcType=TIMESTAMP},
		      </if>
		      <if test="auditState != null" >
		        	audit_state = #{auditState,jdbcType=INTEGER},
		      </if>
	    </set>
	    WHERE twr_province_punish_id = #{twrProvincePunishId,jdbcType=VARCHAR}
	</update>
	
	<!-- 新增对象 -->
	<insert id="addPrvCheck" parameterType="com.xunge.model.towerrent.checkmanage.TwrPrvCheckIndexFineVO">
		INSERT INTO 
		twr_province_punish(twr_province_punish_id,
							reg_id,
							punish_year_month,
							punishName,
							punishCause,
							punishPerson,
							punishAmount,
							state,
							audit_state,
							create_user_id,
							create_time)
					VALUES(#{twrProvincePunishId,jdbcType=VARCHAR},
						   #{regId,jdbcType=VARCHAR},
						   #{punishYearMonth,jdbcType=VARCHAR},
						   #{punishName,jdbcType=VARCHAR},
						   #{punishCause,jdbcType=VARCHAR},
						   #{punishPerson,jdbcType=VARCHAR},
						   #{punishAmount,jdbcType=DECIMAL},
						   0,
						   -1,
						   #{createUserId,jdbcType=VARCHAR},
						   #{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 修改对象 -->
	<update id="updatePrvCheckState" parameterType="java.util.List">
	    UPDATE twr_province_punish
		SET audit_state = 9
		WHERE twr_province_punish_id
		IN 
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<!-- 审核和批量审核 8审核失败 0审核通过-->
	<update id="checkPrvCheckState" parameterType="Map">
	    UPDATE twr_province_punish
		SET audit_state = #{auditState,jdbcType=VARCHAR}
		WHERE twr_province_punish_id
		IN 
		<foreach collection="checkList" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	
    <!-- 审核展示页面全查  jiacy-->
    <select id="queryPrvCheckInformation" resultMap="BaseResultMap" parameterType="Map"  >
	  	  SELECT 
 			  pun.twr_province_punish_id,
              pun.accountsummary_id,
              pun.reg_id,
              pun.punish_year_month,
              pun.punishName,
              pun.punishCause,
              pun.punishPerson,
              pun.punishAmount,
              pun.state,
              pun.audit_state,
              pun.create_user_id,
              pun.create_time,
              pun.update_user_id,
              pun.update_time,
              reg.reg_name,
              reg.prv_id
		FROM twr_province_punish pun
		INNER JOIN v_sys_region reg ON pun.reg_id = reg.reg_id 
		<where>
				<if test="regId != '' and regId != null">
					AND reg.reg_id = #{regId,jdbcType=VARCHAR}
				</if>
				<if test="regId == '' or regId == null">
					AND reg.reg_id in (select rion.preg_id 
									   FROM sys_userregion urio 
									   INNER JOIN v_sys_region rion
					          		   ON urio.reg_id = rion.reg_id 
					          		   WHERE urio.relation_state=#{state, jdbcType=INTEGER} 
					          		   AND urio.user_id = #{userId, jdbcType=VARCHAR})
				</if>
			    <if test="prvId != null and prvId != ''">
				    AND  reg.prv_id = #{prvId,jdbcType=VARCHAR}
				</if>
				<if test="punishYearMonth != null and punishYearMonth != ''">
				    AND  pun.punish_year_month = #{punishYearMonth,jdbcType=TIMESTAMP}
				</if>
				<if test="pregId != '' and pregId != null">
					AND reg.preg_id = #{pregId,jdbcType=VARCHAR}
				</if>
				<if test="auditState != '' and auditState != null">
					AND pun.audit_state = #{auditState,jdbcType=VARCHAR}
				</if>
				<!-- 流程实例id集合 -->
				<if test="idsList != null and idsList.size()>0">  
		        	AND pun.twr_province_punish_id in  
			        <foreach collection="idsList" item="item" index="index" open="(" separator="," close=")">  
		                #{item.businessId}
		            </foreach>  
	    		</if>
			</where>
    </select>
    <!-- 批量插入扣罚信息 -->
    <insert id="insertBatchTwrPrvPunishVO" parameterType="com.xunge.model.towerrent.checkmanage.TwrPrvCheckIndexFineVO" >
    insert into twr_province_punish(            
			    		twr_province_punish_id,
			            accountsummary_id,
			            reg_id,
			            punish_year_month,
			            punishName,
			            punishCause,
			            punishPerson,
			            punishAmount,
			            state,
			            audit_state,
			            create_user_id,
			            create_time,
			            update_user_id,
			            update_time)
    values 
    <foreach collection="list" item="item" index="index" separator="," >
	    ( #{item.twrProvincePunishId,jdbcType=VARCHAR}, 
	      #{item.accountsummaryId,jdbcType=VARCHAR}, 
	      #{item.regId,jdbcType=VARCHAR}, 
	      #{item.punishYearMonth,jdbcType=VARCHAR}, 
	      #{item.punishName,jdbcType=VARCHAR}, 
	      #{item.punishCause,jdbcType=VARCHAR}, 
	      #{item.punishPerson,jdbcType=VARCHAR}, 
	      #{item.punishAmount,jdbcType=DECIMAL}, 
	      #{item.state,jdbcType=INTEGER}, 
	      #{item.auditState,jdbcType=INTEGER}, 
	      #{item.createUserId,jdbcType=VARCHAR}, 
	      #{item.createTime,jdbcType=TIMESTAMP}, 
	      #{item.updateUserId,jdbcType=VARCHAR}, 
	      #{item.updateTime,jdbcType=TIMESTAMP})
     </foreach>
  </insert>
  
  <!-- 根据参数查询省级指标扣罚Map集合-->
    <select id="queryPrvCheckIndexFineMapListByCondition" resultType="java.util.Map" parameterType="java.util.Map"  >
	  	  SELECT 
 			  pun.twr_province_punish_id,
              pun.accountsummary_id,
              pun.reg_id,
              pun.punish_year_month,
              pun.punishName,
              pun.punishCause,
              pun.punishPerson,
              pun.punishAmount,
              pun.state,
              pun.audit_state,
              pun.create_user_id,
              pun.create_time,
              pun.update_user_id,
              pun.update_time,
              reg.reg_name,
              reg.prv_id
		FROM twr_province_punish pun
		INNER JOIN v_sys_region reg ON pun.reg_id = reg.reg_id 
		<where>
				<if test="regId != '' and regId != null">
					AND reg.reg_id = #{regId,jdbcType=VARCHAR}
				</if>
				<if test="regId == '' or regId == null">
					AND reg.reg_id in (select rion.preg_id 
									   FROM sys_userregion urio 
									   INNER JOIN v_sys_region rion
					          		   ON urio.reg_id = rion.reg_id 
					          		   WHERE urio.relation_state=#{state, jdbcType=INTEGER} 
					          		   AND urio.user_id = #{userId, jdbcType=VARCHAR})
				</if>
			    <if test="prvId != null and prvId != ''">
				    AND  reg.prv_id = #{prvId,jdbcType=VARCHAR}
				</if>
				<if test="punishYearMonth != null and punishYearMonth != ''">
				    AND  pun.punish_year_month = #{punishYearMonth,jdbcType=TIMESTAMP}
				</if>
				<if test="state != null">
				    AND  pun.state = #{state,jdbcType=INTEGER}
				</if>
				<if test="pregId != '' and pregId != null">
					AND reg.preg_id = #{pregId,jdbcType=VARCHAR}
				</if>
				<if test="auditState != null">
					AND pun.audit_state = #{auditState,jdbcType=INTEGER}
				</if>
				<!-- 流程实例id集合 -->
				<if test="idsList != null and idsList.size()>0">  
		        	AND pun.twr_province_punish_id in  
			        <foreach collection="idsList" item="item" index="index" open="(" separator="," close=")">  
		                #{item.businessId}
		            </foreach>  
	    		</if>
			</where>
    </select>
    <!-- 根据地市id和年月查询罚金合计 -->
  <select id="queryPrvAmount" parameterType="Map" resultType="BigDecimal">
  	select sum(punishAmount)
  	from twr_province_punish
  	where punish_year_month = #{punishYearMonth}
  	and reg_id = #{regId}
  </select>
</mapper>