<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.twrrent.bizbasedata.ITwrRoomTypeDao" >
  <resultMap id="BaseResultMap" type="com.xunge.model.towerrent.bizbasedata.CommTypeVO" >
    <id column="commtype_id" property="commtype_id" jdbcType="VARCHAR" />
    <result column="commtype_name" property="commtype_name" jdbcType="VARCHAR" />
    <result column="commtype_group" property="commtype_group" jdbcType="VARCHAR" />
    <result column="commtype_state" property="commtype_state" jdbcType="INTEGER" />
    <result column="commtype_note" property="commtype_note" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    commtype_id, commtype_name, commtype_group, commtype_state, commtype_note
  </sql>
  
  <select id="queryAllRoomTypeByCondition" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from twr_commtype
    <where>
       commtype_state != -1
      <if test="commtype_name != null and commtype_name != ''">
         and commtype_name like CONCAT('%',#{commtype_name,jdbcType=VARCHAR},'%')
      </if>
      <if test="commtype_group != null and commtype_group != ''">
         and commtype_group = #{commtype_group,jdbcType=VARCHAR}
      </if>
      <if test="commtype_state != null and commtype_state != ''">
         and commtype_state = #{commtype_state,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
  <select id="queryAllRoomType" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from twr_commtype
    where commtype_group = #{commTypeGroup,jdbcType=VARCHAR}
    and commtype_state !=-1
  </select>
  
  <insert id="insertRoomType" parameterType="com.xunge.model.towerrent.bizbasedata.CommTypeVO" >
    insert into twr_commtype (commtype_id, commtype_name, commtype_group, 
      commtype_state, commtype_note)
    values (#{commtype_id,jdbcType=VARCHAR}, #{commtype_name,jdbcType=VARCHAR}, #{commtype_group,jdbcType=VARCHAR}, 
      #{commtype_state,jdbcType=INTEGER}, #{commtype_note,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateRoomTypeByCommTypeId" parameterType="com.xunge.model.towerrent.bizbasedata.CommTypeVO" >
    update twr_commtype
    set commtype_name = #{commtype_name,jdbcType=VARCHAR},
      commtype_group = #{commtype_group,jdbcType=VARCHAR},
      commtype_state = #{commtype_state,jdbcType=INTEGER},
      commtype_note = #{commtype_note,jdbcType=VARCHAR}
    where commtype_id = #{commtype_id,jdbcType=VARCHAR}
  </update>  
  
  <update id="deleteRoomTypeByCommTypeId" parameterType="Map">
    update twr_commtype
    set commtype_state = -1
    where commtype_id in
	   <foreach collection="roomTypeIdList" item="item" index="index" open="(" separator="," close=")">  
         #{item}  
       </foreach>
  </update>
  
  <update id="startOrStopRoomType" parameterType="Map">
    update twr_commtype
    set commtype_state = #{roomtypeState,jdbcType=INTEGER}
    where commtype_id in
    <foreach collection="roomTypeIdList" item="item" index="index" open="(" separator="," close=")">  
         #{item}  
    </foreach>    
  </update>
   <!--根据条件查询铁塔公共字典信息  -->
   <select id="queryTwrCommType" resultMap="BaseResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    from twr_commtype
    <where>
      <if test="commtype_name != null and commtype_name != ''">
         and commtype_name = #{commtype_name,jdbcType=VARCHAR}
      </if>
      <if test="commtype_group != null and commtype_group != ''">
         and commtype_group = #{commtype_group,jdbcType=VARCHAR}
      </if>
      <if test="commtype_state != null">
         and commtype_state = #{commtype_state,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
</mapper>