<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.system.role.ISysDataAuthMenuTreeDao" >
  <resultMap id="BaseResultMap" type="com.xunge.model.SysDataAuthMenuTreeVO" >
    <id column="menu_id" property="id" jdbcType="VARCHAR" />
    <result column="menu_name" property="name" jdbcType="VARCHAR" />
    <result column="pmenu_id" property="pid" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <!-- 查询所有菜单列表  -->
  <select id="queryAllMenuTree" resultMap="BaseResultMap" parameterType="Map">
  	select menu_id,menu_name,pmenu_id from sys_menu 
  	where menu_state = #{state}
  </select>
</mapper>