<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.system_conf_man.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.system.dictionary.DictionaryVO" >
    <id column="dict_id" property="dict_id" jdbcType="VARCHAR"/>
    <result column="dictgroup_id" property="dictgroup_id" jdbcType="VARCHAR" />
    <result column="dict_name" property="dict_name" jdbcType="VARCHAR" />
    <result column="dict_value" property="dict_value" jdbcType="VARCHAR" />
    <result column="dict_state" property="dict_state" jdbcType="INTEGER" />
    <result column="dict_note" property="dict_note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dict_id,dictgroup_id,dict_name, dict_value, dict_state, dict_note
  </sql>
  
  <resultMap id="SearchResultMap" type="com.xunge.model.system.dictionary.DictionaryVO" >
    <id column="dict_id" property="dict_id" jdbcType="VARCHAR"/>
    <result column="dictgroup_name" property="dictgroup_name" jdbcType="VARCHAR" />
    <result column="dict_name" property="dict_name" jdbcType="VARCHAR" />
    <result column="dict_value" property="dict_value" jdbcType="VARCHAR" />
    <result column="dict_state" property="dict_state" jdbcType="VARCHAR" />
    <result column="dict_note" property="dict_note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Search_Column_List" >
    sd.dict_id,sdg.dictgroup_name,sd.dict_name, sd.dict_value, sd.dict_state, sd.dict_note 
  </sql>
  
  <!-- 根据dictgroup_id查询数据字典对象 -->
  <select id="queryDictionary" parameterType="com.xunge.model.system.dictionary.DictionaryVO" resultMap="SearchResultMap">
  	select 
		<include refid="Search_Column_List" />
  	from 
  		sys_dictionary sd 
	left join 
		sys_dictionarygroup sdg
	on 
		sdg.dictgroup_id=sd.dictgroup_id
 	<where> sd.dict_state!=-1 
    	<if test="dictgroup_id != '' and dictgroup_id != null">
     		and sd.dictgroup_id = #{dictgroup_id,jdbcType=VARCHAR}
     	</if>
     	<if test="dict_name != '' and dict_name != null">
     		and sd.dict_name like CONCAT('%',#{dict_name,jdbcType=VARCHAR},'%') 
     	</if>
    	<if test="dict_value != '' and dict_value != null">
     		and sd.dict_value like CONCAT('%',#{dict_value,jdbcType=VARCHAR},'%')
     	</if>
    	<if test="dict_state != '' and dict_state != null">
     		and sd.dict_state = #{dict_state,jdbcType=VARCHAR}
     	</if>
    	<if test="dict_state != '' and dict_state != null">
     		and sdg.prv_id = #{prv_id,jdbcType=VARCHAR}
     	</if>
     </where>
     order by sdg.dictgroup_name
  </select>
  
  <!-- 根据id查询数据字典对象 -->
  <select id="queryDictionaryByID" parameterType="Map" resultMap="BaseResultMap">
  	select
    	<include refid="Base_Column_List" />
  	from 
  		sys_dictionary sd
 	<where> 
    	<if test="dict_id != '' and dict_id != null">
     		and sd.dict_id = #{dict_id,jdbcType=VARCHAR}
     	</if>
     </where>
  </select>
  
  <!-- 根据分组code查询数据字典对象 -->
  <select id="queryDictionaryByGroupCode" parameterType="Map" resultType="Map">
  	SELECT
		sdg.dictgroup_name,
		sdg.dictgroup_code,
		sd.*
	FROM
		sys_dictionarygroup sdg
	INNER JOIN sys_dictionary sd
	ON sdg.dictgroup_id = sd.dictgroup_id
 	<where> 
		<if test="dictgroup_code != '' and dictgroup_code != null">
     		and sdg.dictgroup_code=#{dictgroup_code,jdbcType=VARCHAR}
     	</if>
		<if test="prv_id != '' and prv_id != null">
     		and sdg.prv_id=#{prv_id,jdbcType=VARCHAR}
     	</if>
     </where>
  </select>
 
  <insert id="insertDictionary" parameterType="com.xunge.model.system.dictionary.DictionaryVO" >
    insert into sys_dictionary 
    (dict_id,dictgroup_id,dict_name, dict_value, dict_state, dict_note)
    values (
    #{dict_id,jdbcType=VARCHAR}, 
    #{dictgroup_id,jdbcType=VARCHAR}, 
    #{dict_name,jdbcType=VARCHAR}, 
    #{dict_value,jdbcType=VARCHAR},
    #{dict_state,jdbcType=VARCHAR},
    #{dict_note,jdbcType=INTEGER}
    )
  </insert>
  
 
	<!-- 批量修改状态 -->
  	<update id="updateDictionaryStateBatch" parameterType="Map">
		update sys_dictionary d set d.dict_state=#{state}
	    where 1=1
		<if test="idsList != null and idsList.size()>0">  
	        and d.dict_id in  
	        <foreach collection="idsList" item="item" index="index" open="(" separator="," close=")">  
                #{item}  
            </foreach>  
    	</if>
	</update>
	
  <update id="updateDictionary" parameterType="com.xunge.model.system.dictionary.DictionaryVO" >
    update sys_dictionary
    set 
      dictgroup_id = #{dictgroup_id,jdbcType=VARCHAR},
      dict_name = #{dict_name,jdbcType=VARCHAR},
      dict_value = #{dict_value,jdbcType=VARCHAR},
      dict_note = #{dict_note,jdbcType=VARCHAR}
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </update>
  
  <delete id="delDictionary" parameterType="com.xunge.model.system.dictionary.DictionaryVO" >
    delete from sys_dictionary
    where dict_id = #{dict_id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="delDictionaryByGroupID" parameterType="java.lang.String" >
    delete from sys_dictionary
    where dictgroup_id = #{dictgroup_id,jdbcType=VARCHAR}
  </delete> 
  
  <resultMap id="DicGroupResultMap" type="com.xunge.model.system.dictionary.DictionaryGroupVO" >
    <id column="dictgroup_id" property="dictgroup_id" jdbcType="VARCHAR"/>
    <result column="prv_id" property="prv_id" jdbcType="VARCHAR" />
    <result column="dictgroup_code" property="dictgroup_code" jdbcType="VARCHAR" />
    <result column="dictgroup_name" property="dictgroup_name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="DicGroup_Column_List" >
    dictgroup_id,prv_id,dictgroup_code, dictgroup_name
  </sql>
  
  <!-- 根据prv_id查询数据字典分组对象 -->
  <select id="queryAllDictionaryGroup" parameterType="java.lang.String" resultMap="DicGroupResultMap">
  	select
    	<include refid="DicGroup_Column_List" />
  	from 
  		sys_dictionarygroup sdg
  	where sdg.prv_id = #{prv_id}
  </select>
</mapper>