<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.system.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.system.parameter.SysParameterVO" >
    <id column="para_id" property="paraId" jdbcType="VARCHAR"/>
    <result column="prv_id" property="prvId" jdbcType="VARCHAR" />
    <result column="para_code" property="paraCode" jdbcType="VARCHAR" />
    <result column="para_value" property="paraValue" jdbcType="VARCHAR" />
    <result column="para_state" property="paraState" jdbcType="VARCHAR" />
    <result column="para_note" property="paraNote" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 修改系统参数状态开启 -->
  <update id="openParameter" parameterType="java.lang.String">
  	update sys_parameter set  
	  	para_state = 0
  	where
  	para_id = #{paraId,jdbcType=VARCHAR}
  </update>
  
  <!-- 修改系统参数状态关闭 -->
  <update id="stopParameter" parameterType="java.lang.String">
  	update sys_parameter set  
	  	para_state = 9
  	where
  	para_id = #{paraId,jdbcType=VARCHAR}
  </update>
  
  <!-- 修改系统参数 -->
  <update id="updateParameter" parameterType="com.xunge.model.system.parameter.SysParameterVO">
  	update sys_parameter set  
	  	para_code = #{paraCode,jdbcType=VARCHAR},
	  	para_value = #{paraValue,jdbcType=VARCHAR},
	  	para_note = #{paraNote,jdbcType=VARCHAR},
	  	para_state = #{paraState,jdbcType=INTEGER}
  	where
  	para_id = #{paraId,jdbcType=VARCHAR}
  </update>
  
	<!-- 根据配置id查询 -->
  <select id="getParameter" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select para_id,para_code,para_value,para_note,para_state
  	from sys_parameter
  	where para_id = #{paraId,jdbcType=VARCHAR}
  </select>
  
   <sql id="Search_Column_List" >
   para_id,para_code,para_value,para_note, 
    case para_state when 0 then '启用' when 9 then '停用' end as para_state 
  </sql>
  
  <!-- 模糊查询 -->
  <select id="queryParameter" resultMap="BaseResultMap" parameterType="Map">
		select 
		<include refid="Search_Column_List" />
  		from sys_parameter 
		<where>
		1=1
			<if test="paraCode != '' and paraCode != null">
				and para_code like
				CONCAT('%',#{paraCode,jdbcType=VARCHAR},'%')
			</if>
			<if test="paraValue != '' and paraValue != null">
				and para_value like
				CONCAT('%',#{paraValue,jdbcType=VARCHAR},'%')
			</if>
			<if test="paraNote != '' and paraNote != null">
				and para_note like
				CONCAT('%',#{paraNote,jdbcType=VARCHAR},'%')
			</if>
			<if test="prvId != '' and prvId != null">
				and prv_id = #{prvId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
  
</mapper>