<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.SysSmssendHistroyVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.smsSendHistroy.SysSmssendHistroyVO" >
    <id column="sys_smssend_history_id" property="sysSmssendHistoryId" jdbcType="VARCHAR" />
    <result column="buss_table_id" property="bussTableId" jdbcType="VARCHAR" />
    <result column="buss_name" property="bussName" jdbcType="VARCHAR" />
    <result column="prv_id" property="prvId" jdbcType="VARCHAR" />
    <result column="prv_sname" property="prvSname" jdbcType="VARCHAR" />
    <result column="sms_sender_id" property="smsSenderId" jdbcType="VARCHAR" />
    <result column="sms_sender_name" property="smsSenderName" jdbcType="VARCHAR" />
    <result column="sms_recv_role_id" property="smsRecvRoleId" jdbcType="VARCHAR" />
    <result column="sms_recv_user_id" property="smsRecvUserId" jdbcType="VARCHAR" />
    <result column="sms_temp_id" property="smsTempId" jdbcType="VARCHAR" />
    <result column="is_send_success" property="isSendSuccess" jdbcType="INTEGER" />
    <result column="send_back_msg" property="sendBackMsg" jdbcType="VARCHAR" />
    <result column="send_datetime" property="sendDatetime" jdbcType="VARCHAR" />
    <result column="resend_times" property="resendTimes" jdbcType="INTEGER" />
    
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_smssend_history_id, buss_table_id,buss_name, prv_id,prv_sname, sms_recv_role_id, sms_recv_user_id, 
    sms_sender_id,sms_sender_name,sms_temp_id,is_send_success, send_back_msg, send_datetime,resend_times
  </sql>
  
  <!-- 新增短信接受结果 -->
  <insert id="insertSelective" parameterType="com.xunge.model.smsSendHistroy.SysSmssendHistroyVO" >
    insert into sys_smssend_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysSmssendHistoryId != null" >
        sys_smssend_history_id,
      </if>
      <if test="bussTableId != null" >
        buss_table_id,
      </if>
      <if test="bussName != null" >
        buss_name,
      </if>
      <if test="prvId != null" >
        prv_id,
      </if>
      <if test="smsSenderId != null" >
        sms_sender_id,
      </if>
      <if test="smsSenderName != null" >
        sms_sender_name,
      </if>
      <if test="smsRecvRoleId != null" >
        sms_recv_role_id,
      </if>
      <if test="smsRecvUserId != null" >
        sms_recv_user_id,
      </if>
      <if test="smsTempId != null" >
        sms_temp_id,
      </if>
      <if test="isSendSuccess != null" >
        is_send_success,
      </if>
      <if test="sendBackMsg != null" >
        send_back_msg,
      </if>
      <if test="sendDatetime != null" >
        send_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysSmssendHistoryId != null" >
        #{sysSmssendHistoryId},
      </if>
      <if test="bussTableId != null" >
        #{bussTableId},
      </if>
      <if test="bussName != null" >
        #{bussName},
      </if>
      <if test="prvId != null" >
        #{prvId},
      </if>
      <if test="smsSenderId != null" >
        #{smsSenderId},
      </if>
      <if test="smsSenderName != null" >
        #{smsSenderName},
      </if>
      <if test="smsRecvRoleId != null" >
        #{smsRecvRoleId},
      </if>
      <if test="smsRecvUserId != null" >
        #{smsRecvUserId},
      </if>
      <if test="smsTempId != null" >
        #{smsTempId},
      </if>
      <if test="isSendSuccess != null" >
        #{isSendSuccess},
      </if>
      <if test="sendBackMsg != null" >
        #{sendBackMsg},
      </if>
      <if test="sendDatetime != null" >
        #{sendDatetime},
      </if>
    </trim>
  </insert>
  <!-- 根据集团收集信息编码查询短信发送情况 -->
  <select id="queryHistroyByCollId" parameterType="Map" resultMap="BaseResultMap">
  	select ssh.sys_smssend_history_id,
  	ssh.buss_table_id,
  	ssh.buss_name,
  	ssh.prv_id,
  	ssh.prv_sname,
  	ssh.sms_sender_id,
  	ssh.sms_sender_name,
  	ssh.sms_recv_role_id,
  	ssh.sms_recv_user_id,
  	ssh.sms_temp_id,
    ssh.is_send_success,
    ssh.send_back_msg,
    ssh.send_datetime,
    sr.role_name as roleName,
    su.user_name as userName
  	from 	
  		sys_smssend_history ssh,
  		sys_role sr,
  		sys_user su
  	where 
  		ssh.buss_table_id = #{bussTableId}
  		and ssh.sms_recv_role_id = sr.role_id
  		and ssh.sms_recv_user_id = su.user_id
  	order by send_datetime desc
  </select>
</mapper>