<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.DatPaymentPeriodMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.billAccount.DatPaymentPeriodVO" >
    <id column="paymentperiod_id" property="paymentperiodId" jdbcType="VARCHAR" />
    <result column="paymentperiod_name" property="paymentperiodName" jdbcType="VARCHAR" />
    <result column="paymentperiod_value" property="paymentperiodValue" jdbcType="DECIMAL" />
    <result column="paymentperiod_unit" property="paymentperiodUnit" jdbcType="INTEGER" />
    <result column="paymentperiod_order" property="paymentperiodOrder" jdbcType="INTEGER" />
    <result column="paymentperiod_state" property="paymentperiodState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    paymentperiod_id,paymentperiod_name,paymentperiod_value,paymentperiod_unit,paymentperiod_order, 
    paymentperiod_state
  </sql>
  <!-- 查询所有缴费周期信息 -->
  <select id="queryAllDatPaymentPeriod" parameterType="Map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from dat_paymentperiod
  	where paymentperiod_state = #{state}
  	ORDER BY paymentperiod_order
  </select>
  <!-- 根据id查询缴费周期信息 -->
  <select id="queryDatPaymentPeriodById" parameterType="Map" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from dat_paymentperiod
  	where paymentperiod_id = #{paymentperiodId}
  </select>
</mapper>