<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.mapping.DatResourceVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.resource.DatBaseResourceVO" >
	 <id column="baseresource_id" property="baseresourceId" jdbcType="VARCHAR" />
    <result column="basesite_id" property="basesiteId" jdbcType="VARCHAR" />
    <result column="reg_id" property="regId" jdbcType="VARCHAR" />
    <result column="baseresource_type" property="baseResourceType" jdbcType="INTEGER" />
    <result column="baseresource_category" property="baseResourceCategory" jdbcType="INTEGER" />
    <result column="baseresource_cuid" property="baseResourceCuId" jdbcType="VARCHAR" />
    <result column="baseresource_code" property="baseResourceCode" jdbcType="VARCHAR" />
    <result column="baseresource_name" property="baseResourceName" jdbcType="VARCHAR" />
    <result column="baseresource_address" property="baseResourceAddress" jdbcType="VARCHAR" />
    <result column="baseresource_area" property="baseResourceArea" jdbcType="DECIMAL" />
    <result column="room_owner" property="roomOwner" jdbcType="INTEGER" />
    <result column="room_property" property="roomProperty" jdbcType="INTEGER" />
    <result column="room_share" property="roomShare" jdbcType="INTEGER" />
    <result column="baseresource_longitude" property="baseResourceLongItude" jdbcType="DECIMAL" />
    <result column="baseresource_latitude" property="baseResourceLatItude" jdbcType="DECIMAL" />
    <result column="airconditioner_power" property="airConditionerPower" jdbcType="DECIMAL" />
    <result column="baseresource_state" property="baseResourceState" jdbcType="INTEGER" />
    <result column="baseresource_note" property="baseResourceNote" jdbcType="VARCHAR" />
    <result column="data_from" property="dataFrom" jdbcType="INTEGER" />	
	    <association property="sysRegionVO" javaType="com.xunge.model.system.region.SysRegionVO">
		    <id column="reg_id" property="regId" jdbcType="VARCHAR" />
		    <result column="prv_id" property="prvId" jdbcType="VARCHAR" />
		    <result column="reg_code" property="regCode" jdbcType="VARCHAR" />
		    <result column="reg_name" property="regName" jdbcType="VARCHAR" />
		    <result column="preg_name" property="pRegName" jdbcType="VARCHAR" />
		    <result column="preg_id" property="pregId" jdbcType="VARCHAR" />
		    <result column="prv_name" property="prvName" jdbcType="INTEGER"/>
		    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
		    <result column="reg_order" property="regOrder" jdbcType="INTEGER" />
		    <result column="reg_state" property="regState" jdbcType="INTEGER" />
	     </association>
  </resultMap>
  <!-- 查询用户关联区县的资源信息 -->
	<select id="queryResourceInfo" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		db.baseresource_id,
		db.reg_id,
		db.baseresource_type,
		db.baseresource_code,
		db.baseresource_name,
		db.baseresource_state,
		vsr.reg_name,
		vsr.preg_id,
		vsr.preg_name
		FROM
		dat_baseresource db INNER JOIN v_sys_region vsr ON vsr.reg_id = db.reg_id 
		<where>
			1=1
			<if test="resourceCodeOrName != '' and resourceCodeOrName != null">
				and (db.baseresource_code like
				CONCAT('%',#{resourceCodeOrName,jdbcType=VARCHAR},'%')
				or db.baseresource_name like
				CONCAT('%',#{resourceCodeOrName,jdbcType=VARCHAR},'%'))
			</if>   
			<if test="baseResourceState != '' and baseResourceState != null">
				and db.baseresource_state = #{baseResourceState,jdbcType=INTEGER}
			</if>
			<if test="regId != '' and regId != null">
				and vsr.reg_id = #{regId,jdbcType=VARCHAR}
			</if>
			<if test="pregId != '' and pregId != null">
				and vsr.preg_id = #{pregId,jdbcType=VARCHAR}
			</if>
			 <!-- 根据权限过滤 -->
			 <if test="regIds !=null and regIds.size()>0">
	   			and vsr.reg_id in 
	   			<foreach collection="regIds" item="item" index="index" open="(" separator="," close=")">  
	                #{item}
	           	</foreach> 
		      </if>
			 	and db.baseresource_id not in (SELECT
				rbr.baseresource_id
				FROM
				rent_billaccountresource rbr )
		</where>
	</select>
  <!-- 查询用户关联区县的资源信息 -->
	<select id="queryResource" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		db.baseresource_id,
		db.reg_id,
		db.baseresource_type,
		db.baseresource_code,
		db.baseresource_name,
		db.baseresource_state,
		rbr.billaccount_id,
		vsr.reg_name,
		vsr.preg_id,
		vsr.preg_name
		FROM
		dat_baseresource db 
		INNER JOIN v_sys_region vsr ON vsr.reg_id = db.reg_id 
		INNER JOIN rent_billaccountresource rbr ON rbr.baseresource_id = db.baseresource_id
		where rbr.billaccount_id=#{billaccountId}
	</select>
<!-- 	根据用户选择查询资源信息 -->
	<select id="queryContractByResourceId" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		db.baseresource_id,
		db.reg_id,
		db.baseresource_type,
		db.baseresource_code,
		db.baseresource_name,
		db.baseresource_state
		FROM
		dat_baseresource db
		<where> db.baseresource_id in 
			 <foreach collection="resourceIds" item="item" index="index" open="(" separator="," close=")">
            	#{item}
        	</foreach>
		</where>
	</select>
</mapper>