<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.RentPaymentVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.billAccount.RentPaymentVO" >
    <id column="payment_id" property="paymentId" jdbcType="VARCHAR" />
    <result column="billaccount_id" property="billaccountId" jdbcType="VARCHAR" />
    <result column="billamount_id" property="billamountId" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
    <result column="business_type" property="businessType" jdbcType="INTEGER" />
    <result column="amount_type" property="amountType" jdbcType="INTEGER" />
    <result column="charge_type" property="chargeType" jdbcType="INTEGER" />
    <result column="payment_method" property="paymentMethod" jdbcType="INTEGER" />
    <result column="invoice_type" property="invoiceType" jdbcType="INTEGER" />
    <result column="payment_startdate" property="paymentStartdate" jdbcType="DATE" />
    <result column="payment_enddate" property="paymentEnddate" jdbcType="DATE" />
    <result column="include_tax" property="includeTax" jdbcType="INTEGER" />
    <result column="billamount_taxratio" property="billamountTaxratio" jdbcType="REAL" />
    <result column="billamount_taxamount" property="billamountTaxamount" jdbcType="DECIMAL" />
    <result column="tax_method" property="taxMethod" jdbcType="INTEGER" />
    <result column="tax_deduction" property="taxDeduction" jdbcType="INTEGER" />
    <result column="dueamount" property="dueamount" jdbcType="DECIMAL" />
    <result column="pay_calcamount" property="payCalcamount" jdbcType="DECIMAL" />
     <result column="pay_actamount" property="payActamount" jdbcType="DECIMAL" />
    <result column="payment_note" property="paymentNote" jdbcType="VARCHAR" />
    <result column="payment_state" property="paymentState" jdbcType="INTEGER" />
    <result column="payment_flowstate" property="paymentFlowstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    payment_id, billaccount_id, billamount_id, bill_type, payment_date, business_type, 
    amount_type, charge_type, payment_method, invoice_type, payment_startdate, payment_enddate, 
    include_tax, billamount_taxratio, billamount_taxamount, tax_method, tax_deduction, 
    dueamount, pay_calcamount,pay_actamount, payment_note, payment_state, payment_flowstate
  </sql>
  <!-- 根据报账点id查询payment -->
	<select id="queryRentPaymentByBillAccountId" parameterType="java.lang.String" 
		resultMap="BaseResultMap">
	select
		<include refid="Base_Column_List"></include>
	from
		rent_payment
	where
		billaccount_id = #{billAccountId}
	order by payment_enddate
	</select>
	<!-- 新增对象 -->
	<insert id="insertRentPayment" parameterType="com.xunge.model.selfrent.billAccount.RentPaymentVO">
		insert into rent_payment
 		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="paymentId != null">
			    payment_id,
			</if>
			<if test="billaccountId != null">
			    billaccount_id,
			</if>
			<if test="billType != null">
			    bill_type,
			</if>
			<if test="paymentDate != null">
			    payment_date,
			</if>
			<if test="businessType != null">
			    business_type,
			</if>
			<if test="amountType != null">
			    amount_type,
			</if>
			<if test="chargeType != null">
			    charge_type,
			</if>
			<if test="paymentMethod != null">
			    payment_method,
			</if>
			<if test="invoiceType != null">
			    invoice_type,
			</if>
			<if test="paymentStartdate != null">
			    payment_startdate,
			</if>
			<if test="paymentEnddate != null">
			    payment_enddate,
			</if>
			<if test="includeTax != null">
			    include_tax,
			</if>
			<if test="billamountTaxratio != null">
			    billamount_taxratio,
			</if>
			<if test="billamountTaxamount != null">
			    billamount_taxamount,
			</if>
			<if test="taxMethod != null">
			    tax_method,
			</if>
			<if test="taxDeduction != null">
			    tax_deduction,
			</if>
			<if test="dueamount != null">
			    dueamount,
			</if>
			<if test="payCalcamount != null">
			    pay_calcamount,
			</if>
			<if test="payActamount != null">
			    pay_actamount,
			</if>
			<if test="paymentNote != null">
			    payment_note,
			</if>
			<if test="paymentState != null">
			    payment_state,
			</if>
			<if test="paymentFlowstate != null">
			    payment_flowstate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="paymentId != null">
			    #{paymentId},
			</if>
			<if test="billaccountId != null">
			    #{billaccountId},
			</if>
			<if test="billType != null">
			    #{billType},
			</if>
			<if test="paymentDate != null">
			    #{paymentDate},
			</if>
			<if test="businessType != null">
			    #{businessType},
			</if>
			<if test="amountType != null">
			    #{amountType},
			</if>
			<if test="chargeType != null">
			    #{chargeType},
			</if>
			<if test="paymentMethod != null">
			    #{paymentMethod},
			</if>
			<if test="invoiceType != null">
			    #{invoiceType},
			</if>
			<if test="paymentStartdate != null">
			    #{paymentStartdate},
			</if>
			<if test="paymentEnddate != null">
			    #{paymentEnddate},
			</if>
			<if test="includeTax != null">
			    #{includeTax},
			</if>
			<if test="billamountTaxratio != null">
			    #{billamountTaxratio},
			</if>
			<if test="billamountTaxamount != null">
			    #{billamountTaxamount},
			</if>
			<if test="taxMethod != null">
			    #{taxMethod},
			</if>
			<if test="taxDeduction != null">
			    #{taxDeduction},
			</if>
			<if test="dueamount != null">
			    #{dueamount},
			</if>
			<if test="payCalcamount != null">
			    #{payCalcamount},
			</if>
			<if test="payActamount != null">
			    #{payActamount},
			</if>
			<if test="paymentNote != null">
			    #{paymentNote},
			</if>
			<if test="paymentState != null">
			    #{paymentState},
			</if>
			<if test="paymentFlowstate != null">
			    #{paymentFlowstate},
			</if>
 	</trim>
	</insert>
	<!-- 修改payment对象 -->
	<update id="updateRentPayment" parameterType="com.xunge.model.selfrent.billAccount.RentPaymentVO">
		update rent_payment set
		<if test="billType != null and billType != ''">
			bill_type = #{billType},
		</if>
		<if test="paymentDate != null and paymentDate != ''">
			payment_date = #{paymentDate},
		</if>
		<if test="businessType != null and businessType != ''">
			business_type = #{businessType},
		</if>
		<if test="amountType != null and amountType != ''">
			amount_type = #{amountType},
		</if>
		<if test="chargeType != null and chargeType != ''">
			charge_type = #{chargeType},
		</if>
		<if test="paymentMethod != null and paymentMethod != ''">
			payment_method = #{paymentMethod},
		</if>
		<if test="invoiceType != null and invoiceType != ''">
			invoice_type = #{invoiceType},
		</if>
		<if test="paymentStartdate != null and paymentStartdate != ''">
			payment_startdate = #{paymentStartdate},
		</if>
		<if test="paymentEnddate != null and paymentEnddate != ''">
			payment_enddate = #{paymentEnddate},
		</if>
		<if test="includeTax != null and includeTax != ''">
			include_tax = #{includeTax},
		</if>
		<if test="billamountTaxratio != null and billamountTaxratio != ''">
			billamount_taxratio = #{billamountTaxratio},
		</if>
		<if test="billamountTaxamount != null and billamountTaxamount != ''">
			billamount_taxamount = #{billamountTaxamount},
		</if>
		<if test="taxMethod != null and taxMethod != ''">
			tax_method = #{taxMethod},
		</if>
		<if test="taxDeduction != null and taxDeduction != ''">
			tax_deduction = #{taxDeduction},
		</if>
		<if test="dueamount != null and dueamount != ''">
			dueamount = #{dueamount},
		</if>
		<if test="payCalcamount != null and payCalcamount != ''">
			pay_calcamount = #{payCalcamount},
		</if>
		<if test="payActamount != null and payActamount != ''">
			pay_actamount = #{payActamount},
		</if>
		<if test="paymentNote != null and paymentNote != ''">
			payment_note = #{paymentNote},
		</if>
		<if test="paymentState != null and paymentState != ''">
			payment_state = #{paymentState},
		</if>
		<if test="paymentFlowstate != null and paymentFlowstate != ''">
			payment_flowstate = #{paymentFlowstate}
		</if>
		where payment_id = #{paymentId}
	</update>
</mapper>