<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.RentPaymentdetailVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfrent.billAccount.RentPaymentdetailVO" >
    <id column="paymentdetail_id" property="paymentdetailId" jdbcType="VARCHAR" />
    <result column="billaccountresource_id" property="billaccountresourceId" jdbcType="VARCHAR" />
    <result column="payment_id" property="paymentId" jdbcType="VARCHAR" />
    <result column="dueamount" property="dueamount" jdbcType="DECIMAL" />
    <result column="billamount_taxamount" property="billamountTaxamount" jdbcType="DECIMAL" />
    <result column="payamount" property="payamount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    rp.paymentdetail_id, rp.billaccountresource_id, rp.payment_id, rp.dueamount, rp.billamount_taxamount, 
    rp.payamount
  </sql>
  <!-- 新增 -->
  <insert id="insertRentPaymentdetail" parameterType="map">
	insert into rent_paymentdetail(
		paymentdetail_id,
		payment_id,
		dueamount,
		billamount_taxamount,
		payamount,
		billaccountresource_id)	
	value(
		#{rentPaymentdetailVO.paymentdetailId},
		#{rentPaymentdetailVO.paymentId},
		#{rentPaymentdetailVO.dueamount},
		#{rentPaymentdetailVO.billamountTaxamount},
		#{rentPaymentdetailVO.payamount},
		(select rb.billaccountresource_id 
		from rent_billaccountresource rb
		where rb.baseresource_id = #{baseresourceId}
		and rb.billaccount_id = #{billaccountId}))
 </insert>
  <!-- 修改 -->
  <insert id="updateRentPaymentdetail" parameterType="com.xunge.model.selfrent.billAccount.RentPaymentdetailVO">
	update rent_paymentdetail set
			dueamount = #{dueamount},
			billamount_taxamount = #{billamountTaxamount},
			payamount = #{payamount}
	where paymentdetail_id = #{paymentdetailId}
 </insert>
  <!-- 查询房屋缴费明细 -->
  <select id="queryPayMentDetailByBaseId" parameterType="map" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"></include>
  	from rent_paymentdetail rp
  	where rp.payment_id = #{paymentId} and 
  		rp.billaccountresource_id = (
  			select rb.billaccountresource_id 
  			from rent_billaccountresource rb
  			where rb.baseresource_id = #{baseresourceId} and 
  				rb.billaccount_id = #{billaccountId} and 
  				rb.relation_state = #{state}
  		)
  </select>
</mapper>