<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.mapping.RentBillAccountResourceVOMapper" >
	<resultMap type="com.xunge.model.selfrent.billAccount.RentBillAccountResourceVO" id="BaseResultMap">
		<id column="billaccountresource_id" property="billAccountResourceId" jdbcType="VARCHAR"/>
		<result column="baseresource_id" property="baseResourceId" jdbcType="VARCHAR"/>
		<result column="billaccount_id" property="billAccountId" jdbcType="VARCHAR"/>
		<result column="relation_state" property="relationState" jdbcType="INTEGER"/>
		<result column="relation_startdate" property="relationStartdate" jdbcType="DATE"/>
		<result column="relation_enddate" property="relationEnddate" jdbcType="DATE"/>
	</resultMap>
<!-- 添加合同资源关系数据 -->
	<insert id="insertBillAccountResource"  parameterType="java.util.List">
		INSERT INTO rent_billaccountresource (
		billaccountresource_id,
		baseresource_id,
		billaccount_id,
		relation_state,
		relation_startdate,
		relation_enddate
		)
		VALUES
			<foreach collection ="list" item="billAccountResource" index= "index" separator =",">
             (
				#{billAccountResource.billAccountResourceId},
				#{billAccountResource.baseResourceId},
				#{billAccountResource.billAccountId},
				#{billAccountResource.relationState},
				now(),
				#{billAccountResource.relationEnddate}
				)
            </foreach >
	</insert>
	<!-- 	更新报账点资源关系表 -->
	<update id="updateBillAccountResource"  parameterType="Map">
				<foreach collection="resourceList" item="item" index="index" open="" separator="," close="">
					update rent_billaccountresource
	                <set>
	                  baseresource_id = #{item.baseResourceId},
	                  relation_startdate =now()
	                </set> 
                	where billaccount_id = #{item.billAccountId}
		        </foreach >
	</update>
	<!-- 	删除报账点资源关系表数据 -->
	<delete id="deleteBillAccountResource"  parameterType="java.lang.String">
		delete from rent_billaccountresource where billaccount_id=#{billAccountId}
	</delete>
	<!-- 	根据资源ID删除报账点资源关系表数据 -->
	<delete id="deleteResourcePoint"  parameterType="java.lang.String">
		delete from rent_billaccountresource where baseresource_id=#{baseresourceId}
	</delete>
<!-- 	查询资源点是否绑定报账点 -->
	<select id="queryResourceBindBillacc" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		rbr.baseresource_id,
		rbr.baseresource_id,
		rbr.billaccount_id
		FROM
		rent_billaccountresource rbr
		where rbr.baseresource_id in
		<foreach collection="resourceIds" item="resourceId" index="index" open="(" separator="," close=")">
			#{resourceId}
        </foreach >
	</select>         
	
</mapper>