<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.basedata.collection.TaskHistoryInfoVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.basedata.colletion.TaskHistoryInfoVO" >
    <id column="task_history_id" property="taskHistoryId" jdbcType="VARCHAR" />
    <result column="task_info_id" property="taskInfoId" jdbcType="VARCHAR" />
    <result column="prv_id" property="prvId" jdbcType="VARCHAR" />
    <result column="prv_name" property="prvName" jdbcType="VARCHAR" />
    <result column="start_datetime" property="startDatetime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="ftp_user" property="ftpUser" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryAllHistoryLogVO" resultMap="BaseResultMap" parameterType="Map">
		SELECT 
			his.task_history_id,
			his.task_info_id,
			his.prv_id,
			pro.prv_name,
			inf.task_name,
			inf.ftp_user,
			his.start_datetime,
			his.comment
		FROM task_running_history his 
		LEFT JOIN task_info inf 
		ON his.task_info_id = inf.task_id
		LEFT JOIN sys_province pro 
		on his.prv_id = pro.prv_id
		where his.task_history_id != ''
		<if test="prvId != null" >
        	and his.prv_id = #{prvId,jdbcType=VARCHAR}
      	</if>
      	<if test="startTime != null" >
        	and his.start_datetime &gt;= #{startTime,jdbcType=TIMESTAMP}
      	</if>
      	<if test="endTime != null" >
        	and his.start_datetime &lt;= #{endTime,jdbcType=TIMESTAMP}
      	</if>
      	order by his.start_datetime desc
  </select>
  <delete id="deleteHistoryLogVO" parameterType="Map">
		DELETE FROM task_running_history
	  <if test="prvId != null" >
        where prv_id = #{prvId,jdbcType=VARCHAR}
      </if>
  </delete>
</mapper>