<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.elecbill.EleBillamountVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.elecbill.EleBillamountVO" >
    <id column="billamount_id" property="billamountId" jdbcType="VARCHAR" />
    <result column="elecontract_id" property="elecontractId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_address" property="supplierAddress" jdbcType="VARCHAR" />
    <result column="supplier_contact" property="supplierContact" jdbcType="VARCHAR" />
    <result column="supplier_telephone" property="supplierTelephone" jdbcType="VARCHAR" />
    <result column="bank_user" property="bankUser" jdbcType="VARCHAR" />
    <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="billamount_code" property="billamountCode" jdbcType="VARCHAR" />
    <result column="billamount_date" property="billamountDate" jdbcType="DATE" />
    <result column="billamount_withtax" property="billamountWithtax" jdbcType="DECIMAL" />
    <result column="billamount_notax" property="billamountNotax" jdbcType="DECIMAL" />
    <result column="billamount_taxamount" property="billamountTaxamount" jdbcType="DECIMAL" />
    <result column="billamount_state" property="billamountState" jdbcType="INTEGER" />
    <result column="billamount_note" property="billamountNote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    billamount_id, elecontract_id, supplier_id, supplier_code, supplier_name, supplier_address, 
    supplier_contact, supplier_telephone, bank_user, deposit_bank, bank_account, billamount_code, 
    billamount_date, billamount_withtax, billamount_notax, billamount_taxamount, billamount_state, 
    billamount_note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ele_billamount
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ele_billamount
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xunge.model.elecbill.EleBillamountVO" >
    insert into ele_billamount (billamount_id, elecontract_id, supplier_id, 
      supplier_code, supplier_name, supplier_address, 
      supplier_contact, supplier_telephone, bank_user, 
      deposit_bank, bank_account, billamount_code, 
      billamount_date, billamount_withtax, billamount_notax, 
      billamount_taxamount, billamount_state, billamount_note
      )
    values (#{billamountId,jdbcType=VARCHAR}, #{elecontractId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, 
      #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR}, 
      #{supplierContact,jdbcType=VARCHAR}, #{supplierTelephone,jdbcType=VARCHAR}, #{bankUser,jdbcType=VARCHAR}, 
      #{depositBank,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{billamountCode,jdbcType=VARCHAR}, 
      #{billamountDate,jdbcType=DATE}, #{billamountWithtax,jdbcType=DECIMAL}, #{billamountNotax,jdbcType=DECIMAL}, 
      #{billamountTaxamount,jdbcType=DECIMAL}, #{billamountState,jdbcType=INTEGER}, #{billamountNote,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xunge.model.elecbill.EleBillamountVO" >
    insert into ele_billamount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billamountId != null" >
        billamount_id,
      </if>
      <if test="elecontractId != null" >
        elecontract_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierCode != null" >
        supplier_code,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierAddress != null" >
        supplier_address,
      </if>
      <if test="supplierContact != null" >
        supplier_contact,
      </if>
      <if test="supplierTelephone != null" >
        supplier_telephone,
      </if>
      <if test="bankUser != null" >
        bank_user,
      </if>
      <if test="depositBank != null" >
        deposit_bank,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="billamountCode != null" >
        billamount_code,
      </if>
      <if test="billamountDate != null" >
        billamount_date,
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax,
      </if>
      <if test="billamountNotax != null" >
        billamount_notax,
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount,
      </if>
      <if test="billamountState != null" >
        billamount_state,
      </if>
      <if test="billamountNote != null" >
        billamount_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billamountId != null" >
        #{billamountId,jdbcType=VARCHAR},
      </if>
      <if test="elecontractId != null" >
        #{elecontractId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierContact != null" >
        #{supplierContact,jdbcType=VARCHAR},
      </if>
      <if test="supplierTelephone != null" >
        #{supplierTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="billamountCode != null" >
        #{billamountCode,jdbcType=VARCHAR},
      </if>
      <if test="billamountDate != null" >
        #{billamountDate,jdbcType=DATE},
      </if>
      <if test="billamountWithtax != null" >
        #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountState != null" >
        #{billamountState,jdbcType=INTEGER},
      </if>
      <if test="billamountNote != null" >
        #{billamountNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.elecbill.EleBillamountVO" >
    update ele_billamount
    <set >
      <if test="elecontractId != null" >
        elecontract_id = #{elecontractId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierContact != null" >
        supplier_contact = #{supplierContact,jdbcType=VARCHAR},
      </if>
      <if test="supplierTelephone != null" >
        supplier_telephone = #{supplierTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        bank_user = #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        deposit_bank = #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="billamountCode != null" >
        billamount_code = #{billamountCode,jdbcType=VARCHAR},
      </if>
      <if test="billamountDate != null" >
        billamount_date = #{billamountDate,jdbcType=DATE},
      </if>
      <if test="billamountWithtax != null" >
        billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      </if>
      <if test="billamountNotax != null" >
        billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      </if>
      <if test="billamountTaxamount != null" >
        billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      </if>
      <if test="billamountState != null" >
        billamount_state = #{billamountState,jdbcType=INTEGER},
      </if>
      <if test="billamountNote != null" >
        billamount_note = #{billamountNote,jdbcType=VARCHAR},
      </if>
    </set>
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunge.model.elecbill.EleBillamountVO" >
    update ele_billamount
    set elecontract_id = #{elecontractId,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      supplier_contact = #{supplierContact,jdbcType=VARCHAR},
      supplier_telephone = #{supplierTelephone,jdbcType=VARCHAR},
      bank_user = #{bankUser,jdbcType=VARCHAR},
      deposit_bank = #{depositBank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      billamount_code = #{billamountCode,jdbcType=VARCHAR},
      billamount_date = #{billamountDate,jdbcType=DATE},
      billamount_withtax = #{billamountWithtax,jdbcType=DECIMAL},
      billamount_notax = #{billamountNotax,jdbcType=DECIMAL},
      billamount_taxamount = #{billamountTaxamount,jdbcType=DECIMAL},
      billamount_state = #{billamountState,jdbcType=INTEGER},
      billamount_note = #{billamountNote,jdbcType=VARCHAR}
    where billamount_id = #{billamountId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateStatus" parameterType="com.xunge.model.elecbill.EleBillamountVO" >
    update ele_billamount
    set billamount_state =  #{billamountState,jdbcType=INTEGER}
    where billamount_code = #{billamountCode,jdbcType=VARCHAR}
  </update>
</mapper>