<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.selfelec.EleBenchmarkParaVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfelec.EleBenchmarkParaVO" >
    <id column="reg_id" property="regId" jdbcType="VARCHAR" />
    <id column="month_no" property="monthNo" jdbcType="INTEGER" />
    <result column="pue" property="pue" jdbcType="DECIMAL" />
    <result column="t" property="t" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    reg_id, month_no, pue, t
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xunge.model.selfelec.EleBenchmarkParaVO" >
    select 
    <include refid="Base_Column_List" />
    from ele_benchmark_para
    where reg_id = #{regId,jdbcType=VARCHAR}
      and month_no = #{monthNo,jdbcType=INTEGER}
  </select>
  
    <select id="addBillaccountHistoryBenchmark" parameterType="java.util.Map" statementType ="CALLABLE" >  
		  <![CDATA[ 
		  {call proc_add_billaccount_history_benchmark(  
		    #{billaccountId,jdbcType=VARCHAR,mode=IN},
		    #{regid,jdbcType=VARCHAR,mode=IN},
		    #{startdate,jdbcType=DATE,mode=IN}, 
		    #{sdays,jdbcType=INTEGER,mode=IN},
		    #{errCode,jdbcType=INTEGER,mode=OUT}
		    )}
		    ]]>
  </select> 
</mapper>