<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.selfelec.ElePaymentBenchmarkMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfelec.ElePaymentBenchmark" >
    <id column="paybenchmark_id" property="paybenchmarkId" jdbcType="VARCHAR" />
    <result column="billaccountpaymentdetail_id" property="billaccountpaymentdetailId" jdbcType="VARCHAR" />
    <result column="paybenchmark_type" property="paybenchmarkType" jdbcType="INTEGER" />
    <result column="paybenchmark_value" property="paybenchmarkValue" jdbcType="DECIMAL" />
    <result column="paybenchmark_rate" property="paybenchmarkRate" jdbcType="DECIMAL" />
    <result column="paybenchmark_overflow" property="paybenchmarkOverflow" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    paybenchmark_id, billaccountpaymentdetail_id, paybenchmark_type, paybenchmark_value, 
    paybenchmark_rate, paybenchmark_overflow
  </sql>
  <select id="queryAllByForginKey" resultMap="BaseResultMap" parameterType="Map">
     select 
    <include refid="Base_Column_List" />
    from ele_payment_benchmark
    where billaccountpaymentdetail_id = #{billaccountpaymentdetailId,jdbcType=VARCHAR}
  </select>
  
    <!-- 新增缴费标杆信息 -->
    <insert id="insertBenchmarkInfo" parameterType="java.util.List" >
    insert into ele_payment_benchmark 
    (paybenchmark_id,billaccountpaymentdetail_id,paybenchmark_type,
				paybenchmark_value,paybenchmark_rate,paybenchmark_overflow)
				values
   	<foreach collection="list" item="item" index="index" separator=","> 
   		(
       	#{item.paybenchmarkId,jdbcType=VARCHAR},
       	#{item.billaccountpaymentdetailId,jdbcType=VARCHAR},
        #{item.paybenchmarkType,jdbcType=INTEGER},
      	#{item.paybenchmarkValue,jdbcType=DECIMAL},
       	#{item.paybenchmarkRate,jdbcType=DECIMAL},
       	#{item.paybenchmarkOverflow,jdbcType=INTEGER}
       	)
     </foreach>
  </insert>
</mapper>