<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.mapping.HistoryPaymentModelVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfelec.vo.HistoryPaymentModelVO">
		<id     column="billaccount_id"       property="billaccountId"       jdbcType="VARCHAR" />
		<result column="billaccount_code"     property="billaccountCode"     jdbcType="VARCHAR" />
		<result column="billaccount_name"     property="billaccountName"     jdbcType="VARCHAR" />
		<result column="billaccount_state"    property="billaccountState"    jdbcType="VARCHAR" />
		<result column="year"                 property="year"                jdbcType="VARCHAR" />
		<result column="month"                property="month"               jdbcType="VARCHAR" />
		<result column="day"                  property="day"                 jdbcType="VARCHAR" />
		<result column="preg_id"              property="pregId"              jdbcType="VARCHAR" />
		<result column="preg_name"            property="pregName"            jdbcType="VARCHAR" />
		<result column="billaccountStateStr"  property="billaccountStateStr" jdbcType="VARCHAR" />
		<result column="reg_id"               property="regId"               jdbcType="VARCHAR" />
		<result column="reg_name"             property="regName"             jdbcType="VARCHAR" />
		<result column="col_date"             property="colDate"             jdbcType="DATE" />
		<result column="now_degree"           property="nowDegree"           jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="queryAll" resultMap="BaseResultMap" parameterType="Map" >
		select 
		    bil.billaccount_id,
			bil.billaccount_code,
			bil.billaccount_name,
			bil.billaccount_state,
			(CASE billaccount_state
            WHEN 0 THEN '正常'
            WHEN 1 THEN '停用'
            ELSE ''END) billaccountStateStr,
			bil.preg_id,
			bil.preg_name,
			bil.reg_id,
			bil.reg_name,
			bil.prv_id,
			his.col_date,
			year(his.col_date) year,
			month(his.col_date) month,
			day(his.col_date) day,
			his.now_degree
			from ele_benchmark_hispower his 
			INNER JOIN  ele_billaccount bil 
			ON his.billaccount_id = bil.billaccount_id
		<where>
		      <if test="billaccountName != null and billaccountName != ''" >
		        and
		        (
			        bil.billaccount_code like
					CONCAT('%',#{billaccountName,jdbcType=VARCHAR},'%')
					or
					bil.billaccount_name like
					CONCAT('%',#{billaccountName,jdbcType=VARCHAR},'%')
				)
		      </if>
		      <if test="prvId != null and prvId != ''" >
		        and bil.prv_id = #{prvId,jdbcType=VARCHAR}
		      </if>
		      <if test="billaccountState != null and billaccountState != ''" >
		        and bil.billaccount_state = #{billaccountState,jdbcType=INTEGER}
		      </if>
		      <if test="pregId != null and pregId != ''" >
		        and bil.preg_id = #{pregId,jdbcType=VARCHAR}
		      </if>
		      <if test="regId != null and regId != ''" >
		        and bil.reg_id = #{regId,jdbcType=VARCHAR}
		      </if>
		      <if test="hisYear != null and hisYear != ''" >
		      	and year(his.col_date) = #{hisYear,jdbcType=VARCHAR}
		      </if>
		      <if test="hisMonth != null and hisMonth != ''" >
		      	and month(his.col_date) = #{hisMonth,jdbcType=VARCHAR}
		      </if>
		</where>
  </select>
</mapper>