<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.mapping.ModelParamSetVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.selfelec.vo.ModelParamSetVO">
		<id     column="reg_id"       property="regId"      jdbcType="VARCHAR" />
		<result column="reg_name"     property="regName"   jdbcType="VARCHAR" />
		<result column="month_no"     property="monthNo"   jdbcType="INTEGER" />
		<result column="pue"          property="pue"       jdbcType="DECIMAL" />
		<result column="t"            property="t"         jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="queryAllModel" resultMap="BaseResultMap" parameterType="Map" >
		select 
		    para.reg_id,
		    para.month_no,
		    para.pue,
		    para.t, 
			reg.reg_name,
			reg.prv_id
		from ele_benchmark_para para inner join 
	    sys_region reg on reg.reg_id = para.reg_id
		<where>
		      <if test="prvId != null and prvId != ''" >
		        and reg.prv_id = #{prvId,jdbcType=VARCHAR}
		      </if>
		      <if test="monthNo != null and monthNo != ''" >
		        and para.month_no = #{monthNo,jdbcType=INTEGER}
		      </if>
		      <if test="regId != null and regId != ''" >
		        and para.reg_id = #{regId,jdbcType=VARCHAR}
		      </if>
		</where>
  </select>
  
  <update id="updateModelParam" parameterType="Map" >
		update ele_benchmark_para
		set pue = #{pue,jdbcType=DECIMAL},
		t = #{t,jdbcType=DECIMAL}
		where reg_id = #{regId,jdbcType=VARCHAR} and month_no = #{monthNo,jdbcType=INTEGER}
  </update>
  
  <insert id="insertModel" parameterType="Map">
  	insert into ele_benchmark_para(reg_id,month_no,pue,t) values(#{regId},#{monthNo},#{pue},#{t})
  </insert>
</mapper>