<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunge.dao.selfelec.VDatElectricmeterExpMapper">
  
  <select id="getVDatElectricmeterBybillaccountId" parameterType="string" resultMap="com.xunge.dao.selfelec.VDatElectricmeterMapper.BaseResultMap">
	    SELECT 
	    v.*
		FROM
		  v_ele_baseresourceelectricmeter v
		WHERE  billaccount_id = #{billaccountId}
  </select>
  
  <select id="getVDatElectricmeterBybillaccountIdShow" parameterType="string" resultMap="com.xunge.dao.selfelec.VDatElectricmeterMapper.BaseResultMap">
	   SELECT 
		 DISTINCT
			v.meter_id,
			v.billaccount_id,
			v.plan_paymentdate,
			m.electricmeter_multiply,
			v.electricmeter_ratio,
			v.cmcc_ratio,
			v.unicom_ratio,
			v.telcom_ratio,
			v.relation_state,
			v.relation_startdate,
			v.relation_enddate,
			m.meter_code,
			m.initial_value,
			m.flat_value,
			m.peak_value,
			m.valley_value,
			m.upper_value,
			m.flat_upper_value,
			m.peak_upper_value,
			m.valley_upper_value,
			m.top_upper_value,
			m.meter_type,
			m.install_date,
			m.meter_state,
			m.meter_note,
			m.account_number,
			m.last_readnum
		FROM
			(
				ele_baseresourceelectricmeter v
				JOIN v_dat_electricmeter m ON (
					(
						v.meter_id = m.meter_id
					)
				)
			)
		WHERE
			(v.relation_state = 0)
			and v.billaccount_id = #{billaccountId}
  </select>
  
  <select id="getContractBybillaccountId" parameterType="string" resultMap="com.xunge.dao.selfelec.VEleBillaccountcontractMapper.BaseResultMap">
	    SELECT 
		  v.* 
		FROM
		  v_ele_billaccountcontract v
		WHERE  billaccount_id = #{billaccountId}
  </select>
  
  <select id="getBenchmark" parameterType="java.util.Map" statementType ="CALLABLE" >  
		  <![CDATA[ 
		  {call prc_GetBenchmark(  
		    #{billaccountId,jdbcType=DATE,mode=IN},
		    #{startdate,jdbcType=DATE,mode=IN},
		    #{enddate,jdbcType=VARCHAR,mode=IN}, 
		    #{electricmeterBenchmark,jdbcType=NUMERIC,mode=OUT},
		    #{powerloadBenchmark,jdbcType=NUMERIC,mode=OUT},
		    #{powerratingBenchmark,jdbcType=NUMERIC,mode=OUT},
		    #{hisNowBenchmark,jdbcType=NUMERIC,mode=OUT},
		    #{hisLastBenchmark,jdbcType=NUMERIC,mode=OUT},
		    #{errCode,jdbcType=INTEGER,mode=OUT}
		    )}
		    ]]>
  </select> 
  
</mapper>