<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.towerrent.TowerRentInformationTowerMapper">
  <resultMap id="BaseResultMap" type="com.xunge.model.towerrent.TowerRentInformationTowerVO" >
	<id column="rentinformationtower_id" jdbcType="VARCHAR" property="rentinformationtowerId" />
    <result column="reg_id" jdbcType="VARCHAR" property="regId" />
    <result column="resources_type_id" jdbcType="VARCHAR" property="resourcesTypeId" />
    <result column="business_confirm_number" jdbcType="VARCHAR" property="businessConfirmNumber" />
    <result column="scence_type" jdbcType="VARCHAR" property="scenceType" />
    <result column="agree_bill_code" jdbcType="VARCHAR" property="agreeBillCode" />
    <result column="tower_station_code" jdbcType="VARCHAR" property="towerStationCode" />
    <result column="tower_station_name" jdbcType="VARCHAR" property="towerStationName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_reg_name" jdbcType="VARCHAR" property="operatorRegName" />
    <result column="demand_reg_name" jdbcType="VARCHAR" property="demandRegName" />
    <result column="station_reg_name" jdbcType="VARCHAR" property="stationRegName" />
    <result column="if_tower_link_operator" jdbcType="INTEGER" property="ifTowerLinkOperator" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="product_configuration_id" jdbcType="VARCHAR" property="productConfigurationId" />
    <result column="product_type_id" jdbcType="VARCHAR" property="productTypeId" />
    <result column="room_type_id" jdbcType="VARCHAR" property="roomTypeId" />
    <result column="supporting_type_id" jdbcType="VARCHAR" property="supportingTypeId" />
    <result column="wind_pressure" jdbcType="DECIMAL" property="windPressure" />
    <result column="share_type_id" jdbcType="VARCHAR" property="shareTypeId" />
    <result column="product1_unit_num" jdbcType="VARCHAR" property="product1UnitNum" />
    <result column="product1_height" jdbcType="VARCHAR" property="product1Height" />
    <result column="product1_antenna_num" jdbcType="VARCHAR" property="product1AntennaNum" />
    <result column="product1_system_num" jdbcType="VARCHAR" property="product1SystemNum" />
    <result column="product1_is_up_towerRRU" jdbcType="INTEGER" property="product1IsUpTowerRRU" />
    <result column="product1_ifBBU_on_room" jdbcType="INTEGER" property="product1IfBBUOnRoom" />
    <result column="product1_BBU_fee" jdbcType="VARCHAR" property="product1BBUFee" />
    <result column="product2_unit_num" jdbcType="VARCHAR" property="product2UnitNum" />
    <result column="product2_height" jdbcType="VARCHAR" property="product2Height" />
    <result column="product2_antenna_num" jdbcType="VARCHAR" property="product2AntennaNum" />
    <result column="product2_system_num" jdbcType="VARCHAR" property="product2SystemNum" />
    <result column="product2_is_up_towerRRU" jdbcType="INTEGER" property="product2IsUpTowerRRU" />
    <result column="product2_ifBBU_on_room" jdbcType="INTEGER" property="product2IfBBUOnRoom" />
    <result column="product2_BBU_fee" jdbcType="VARCHAR" property="product2BBUFee" />
    <result column="product3_unit_num" jdbcType="VARCHAR" property="product3UnitNum" />
    <result column="product3_height" jdbcType="VARCHAR" property="product3Height" />
    <result column="product3_antenna_num" jdbcType="VARCHAR" property="product3AntennaNum" />
    <result column="product3_system_num" jdbcType="VARCHAR" property="product3SystemNum" />
    <result column="product3_is_up_towerRRU" jdbcType="INTEGER" property="product3IsUpTowerRRU" />
    <result column="product3_ifBBU_on_room" jdbcType="INTEGER" property="product3IfBBUOnRoom" />
    <result column="product3_BBU_fee" jdbcType="VARCHAR" property="product3BBUFee" />
    <result column="antenna_height_range_id" jdbcType="VARCHAR" property="antennaHeightRangeId" />
    <result column="tower_height" jdbcType="VARCHAR" property="towerHeight" />
    <result column="ifstandard_build_fee" jdbcType="INTEGER" property="ifstandardBuildFee" />
    <result column="ifRRU_dis" jdbcType="INTEGER" property="ifRRUDis" />
    <result column="current_tower_share_num" jdbcType="INTEGER" property="currentTowerShareNum" />
    <result column="current_room_supporting_share_num" jdbcType="INTEGER" property="currentRoomSupportingShareNum" />
    <result column="current_service_share_num" jdbcType="INTEGER" property="currentServiceShareNum" />
    <result column="current_room_fee_share_num" jdbcType="INTEGER" property="currentRoomFeeShareNum" />
    <result column="current_elecimport_share_num" jdbcType="INTEGER" property="currentElecimportShareNum" />
    <result column="add_tower_share_num" jdbcType="INTEGER" property="addTowerShareNum" />
    <result column="add_room_supporting_share_num" jdbcType="INTEGER" property="addRoomSupportingShareNum" />
    <result column="is_spec_enter_station" jdbcType="INTEGER" property="isSpecEnterStation" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="unit_product_number" jdbcType="VARCHAR" property="unitProductNumber" />
    <result column="tower_price" jdbcType="DECIMAL" property="towerPrice" />
    <result column="room_price" jdbcType="DECIMAL" property="roomPrice" />
    <result column="supporting_price" jdbcType="DECIMAL" property="supportingPrice" />
    <result column="tower_share_dis" jdbcType="DECIMAL" property="towerShareDis" />
    <result column="room_supporting_share_dis" jdbcType="DECIMAL" property="roomSupportingShareDis" />
    <result column="maintenance_fee" jdbcType="DECIMAL" property="maintenanceFee" />
    <result column="maintenance_fee_dis" jdbcType="DECIMAL" property="maintenanceFeeDis" />
    <result column="original_maintenance_fee" jdbcType="DECIMAL" property="originalMaintenanceFee" />
    <result column="stage_fee" jdbcType="DECIMAL" property="stageFee" />
    <result column="stage_fee_dis" jdbcType="DECIMAL" property="stageFeeDis" />
    <result column="original_stage_fee" jdbcType="VARCHAR" property="originalStageFee" />
    <result column="electric_import_fee" jdbcType="DECIMAL" property="electricImportFee" />
    <result column="electric_import_fee_dis" jdbcType="DECIMAL" property="electricImportFeeDis" />
    <result column="original_electric_import_fee" jdbcType="DECIMAL" property="originalElectricImportFee" />
    <result column="if_has_power_condition" jdbcType="INTEGER" property="ifHasPowerCondition" />
    <result column="if_select_power_service" jdbcType="INTEGER" property="ifSelectPowerService" />
    <result column="oil_generate_electric_method_id" jdbcType="VARCHAR" property="oilGenerateElectricMethodId" />
    <result column="oil_generator_electric_fee" jdbcType="DECIMAL" property="oilGeneratorElectricFee" />
    <result column="original_oil_generate_electric_fee" jdbcType="DECIMAL" property="originalOilGenerateElectricFee" />
    <result column="other_fee" jdbcType="DECIMAL" property="otherFee" />
    <result column="other_fee_remark" jdbcType="VARCHAR" property="otherFeeRemark" />
    <result column="original_other_fee" jdbcType="DECIMAL" property="originalOtherFee" />
    <result column="maintenance_level_id" jdbcType="VARCHAR" property="maintenanceLevelId" />
    <result column="hight_level_fee" jdbcType="DECIMAL" property="hightLevelFee" />
    <result column="electric_protection_method_id" jdbcType="VARCHAR" property="electricProtectionMethodId" />
    <result column="electric_protection_fee" jdbcType="DECIMAL" property="electricProtectionFee" />
    <result column="reserve_battery" jdbcType="DECIMAL" property="reserveBattery" />
    <result column="room_fee_method" jdbcType="VARCHAR" property="roomFeeMethod" />
    <result column="elec_import_fee_method" jdbcType="VARCHAR" property="elecImportFeeMethod" />
    <result column="microwave_service_fee" jdbcType="VARCHAR" property="microwaveServiceFee" />
    <result column="wlan_service_fee" jdbcType="VARCHAR" property="wlanServiceFee" />
    <result column="battery_protection_fee" jdbcType="DECIMAL" property="batteryProtectionFee" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="total_actual_amount" jdbcType="DECIMAL" property="totalActualAmount" />
    <result column="change_tower_share_dis_value1" jdbcType="DECIMAL" property="changeTowerShareDisValue1" />
    <result column="change_tower_share_dis_start_date1" jdbcType="TIMESTAMP" property="changeTowerShareDisStartDate1" />
    <result column="change_room_supporting_share_dis_value1" jdbcType="DECIMAL" property="changeRoomSupportingShareDisValue1" />
    <result column="change_room_supporting_share_dis_start_date1" jdbcType="TIMESTAMP" property="changeRoomSupportingShareDisStartDate1" />
    <result column="change_tower_share_dis_value2" jdbcType="DECIMAL" property="changeTowerShareDisValue2" />
    <result column="change_tower_share_dis_start_date2" jdbcType="TIMESTAMP" property="changeTowerShareDisStartDate2" />
    <result column="change_room_supporting_share_dis_value2" jdbcType="DECIMAL" property="changeRoomSupportingShareDisValue2" />
    <result column="change_room_supporting_share_dis_start_date2" jdbcType="TIMESTAMP" property="changeRoomSupportingShareDisStartDate2" />
    <result column="change_tower_share_dis_value3" jdbcType="DECIMAL" property="changeTowerShareDisValue3" />
    <result column="change_tower_share_dis_start_date3" jdbcType="TIMESTAMP" property="changeTowerShareDisStartDate3" />
    <result column="change_room_supporting_share_dis_value3" jdbcType="DECIMAL" property="changeRoomSupportingShareDisValue3" />
    <result column="change_room_supporting_share_dis_start_date3" jdbcType="TIMESTAMP" property="changeRoomSupportingShareDisStartDate3" />
    <result column="change_maintenance_fee_dis_value1" jdbcType="DECIMAL" property="changeMaintenanceFeeDisValue1" />
    <result column="change_maintenance_fee_dis_start_date1" jdbcType="TIMESTAMP" property="changeMaintenanceFeeDisStartDate1" />
    <result column="change_stage_fee_dis_value1" jdbcType="DECIMAL" property="changeStageFeeDisValue1" />
    <result column="change_stage_fee_dis_start_date1" jdbcType="TIMESTAMP" property="changeStageFeeDisStartDate1" />
    <result column="change_electric_import_dis_value1" jdbcType="DECIMAL" property="changeElectricImportDisValue1" />
    <result column="change_electric_import_dis_start_date1" jdbcType="TIMESTAMP" property="changeElectricImportDisStartDate1" />
    <result column="change_maintenance_fee_dis_value2" jdbcType="DECIMAL" property="changeMaintenanceFeeDisValue2" />
    <result column="change_maintenance_fee_dis_start_date2" jdbcType="TIMESTAMP" property="changeMaintenanceFeeDisStartDate2" />
    <result column="change_stage_fee_dis_value2" jdbcType="DECIMAL" property="changeStageFeeDisValue2" />
    <result column="change_stage_fee_dis_start_date2" jdbcType="TIMESTAMP" property="changeStageFeeDisStartDate2" />
    <result column="change_electric_import_dis_value2" jdbcType="DECIMAL" property="changeElectricImportDisValue2" />
    <result column="change_electric_import_dis_start_date2" jdbcType="TIMESTAMP" property="changeElectricImportDisStartDate2" />
    <result column="change_maintenance_fee_dis_value3" jdbcType="DECIMAL" property="changeMaintenanceFeeDisValue3" />
    <result column="change_maintenance_fee_dis_start_date3" jdbcType="TIMESTAMP" property="changeMaintenanceFeeDisStartDate3" />
    <result column="change_stage_fee_dis_value3" jdbcType="DECIMAL" property="changeStageFeeDisValue3" />
    <result column="change_stage_fee_dis_start_date3" jdbcType="TIMESTAMP" property="changeStageFeeDisStartDate3" />
    <result column="change_electric_import_dis_value3" jdbcType="DECIMAL" property="changeElectricImportDisValue3" />
    <result column="change_electric_import_dis_start_date3" jdbcType="TIMESTAMP" property="changeElectricImportDisStartDate3" />
    <result column="publish_user" jdbcType="VARCHAR" property="publishUser" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="check_state" jdbcType="INTEGER" property="auditState" />
    <result column="tower_base_price" jdbcType="DECIMAL" property="towerBasePrice" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    rentinformationtower_id, twr_rentinformationtower.reg_id, resources_type_id, business_confirm_number, scence_type, 
    agree_bill_code, tower_station_code, tower_station_name, operator, operator_reg_name, 
    demand_reg_name, station_reg_name, if_tower_link_operator, detail_address, longitude, 
    latitude, product_configuration_id, product_type_id, room_type_id, supporting_type_id, 
    wind_pressure, share_type_id, product1_unit_num, product1_height, product1_antenna_num, 
    product1_system_num, product1_is_up_towerRRU, product1_ifBBU_on_room, product1_BBU_fee, 
    product2_unit_num, product2_height, product2_antenna_num, product2_system_num, product2_is_up_towerRRU, 
    product2_ifBBU_on_room, product2_BBU_fee, product3_unit_num, product3_height, product3_antenna_num, 
    product3_system_num, product3_is_up_towerRRU, product3_ifBBU_on_room, product3_BBU_fee, 
    antenna_height_range_id, tower_height, ifstandard_build_fee, ifRRU_dis, current_tower_share_num, 
    current_room_supporting_share_num, current_service_share_num, current_room_fee_share_num, 
    current_elecimport_share_num, add_tower_share_num, add_room_supporting_share_num, 
    is_spec_enter_station, start_date, end_date, unit_product_number, tower_price, room_price, 
    supporting_price, tower_share_dis, room_supporting_share_dis, maintenance_fee, maintenance_fee_dis, 
    original_maintenance_fee, stage_fee, stage_fee_dis, original_stage_fee, electric_import_fee, 
    electric_import_fee_dis, original_electric_import_fee, if_has_power_condition, if_select_power_service, 
    oil_generate_electric_method_id, oil_generator_electric_fee, original_oil_generate_electric_fee, 
    other_fee, other_fee_remark, original_other_fee, maintenance_level_id, hight_level_fee, 
    electric_protection_method_id, electric_protection_fee, reserve_battery, room_fee_method, 
    elec_import_fee_method, microwave_service_fee, wlan_service_fee, battery_protection_fee, 
    total_amount, total_actual_amount, change_tower_share_dis_value1, change_tower_share_dis_start_date1, 
    change_room_supporting_share_dis_value1, change_room_supporting_share_dis_start_date1, 
    change_tower_share_dis_value2, change_tower_share_dis_start_date2, change_room_supporting_share_dis_value2, 
    change_room_supporting_share_dis_start_date2, change_tower_share_dis_value3, change_tower_share_dis_start_date3, 
    change_room_supporting_share_dis_value3, change_room_supporting_share_dis_start_date3, 
    change_maintenance_fee_dis_value1, change_maintenance_fee_dis_start_date1, change_stage_fee_dis_value1, 
    change_stage_fee_dis_start_date1, change_electric_import_dis_value1, change_electric_import_dis_start_date1, 
    change_maintenance_fee_dis_value2, change_maintenance_fee_dis_start_date2, change_stage_fee_dis_value2, 
    change_stage_fee_dis_start_date2, change_electric_import_dis_value2, change_electric_import_dis_start_date2, 
    change_maintenance_fee_dis_value3, change_maintenance_fee_dis_start_date3, change_stage_fee_dis_value3, 
    change_stage_fee_dis_start_date3, change_electric_import_dis_value3, change_electric_import_dis_start_date3, 
    publish_user, publish_time, create_user_id, create_time, update_user_id, update_time, 
    check_state,tower_base_price
  </sql>
  
  <sql id="selectColumn">
  	business_confirm_number, tower_station_code, resources_type_id
  </sql>
  
  <!-- 查询所有铁塔资源信息 -->
  <select id="queryDataByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="selectColumn" />,
    	v_sys_region.preg_id,
		v_sys_region.reg_name,
		v_sys_region.prv_id,
		v_sys_region.reg_state,
		v_sys_region.preg_name,
		v_sys_region.prv_name
    from twr_rentinformationtower INNER JOIN v_sys_region ON v_sys_region.reg_id = twr_rentinformationtower.reg_id 
    <where>
    	<if test="checkState != '' and checkState != null">
    		and twr_rentinformationtower.check_state = #{checkState}
    	</if>
    	<if test="regId != '' and regId != null">
			and twr_rentinformationtower.reg_id = #{regId,jdbcType=VARCHAR}
		</if>
    	<if test="pregId != '' and pregId != null">
    		and v_sys_region.preg_id = #{pregId,jdbcType=VARCHAR}
    	</if>
    	<if test="prvId != '' and prvId != null">
    		and v_sys_region.prv_id = #{prvId,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  <!-- 新增铁塔资源信息 -->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into twr_rentinformationtower (rentinformationtower_id, reg_id, resources_type_id, 
      business_confirm_number, scence_type, agree_bill_code, 
      tower_station_code, tower_station_name, operator, 
      operator_reg_name, demand_reg_name, station_reg_name, 
      if_tower_link_operator, detail_address, longitude, 
      latitude, product_configuration_id, product_type_id, 
      room_type_id, supporting_type_id, wind_pressure, 
      share_type_id, product1_unit_num, product1_height, 
      product1_antenna_num, product1_system_num, 
      product1_is_up_towerRRU, product1_ifBBU_on_room, product1_BBU_fee, 
      product2_unit_num, product2_height, product2_antenna_num, 
      product2_system_num, product2_is_up_towerRRU, product2_ifBBU_on_room, 
      product2_BBU_fee, product3_unit_num, product3_height, 
      product3_antenna_num, product3_system_num, 
      product3_is_up_towerRRU, product3_ifBBU_on_room, product3_BBU_fee, 
      antenna_height_range_id, tower_height, ifstandard_build_fee, 
      ifRRU_dis, current_tower_share_num, current_room_supporting_share_num, 
      current_service_share_num, current_room_fee_share_num, 
      current_elecimport_share_num, add_tower_share_num, 
      add_room_supporting_share_num, is_spec_enter_station, 
      start_date, end_date, unit_product_number, 
      tower_price, room_price, supporting_price, 
      tower_share_dis, room_supporting_share_dis, 
      maintenance_fee, maintenance_fee_dis, original_maintenance_fee, 
      stage_fee, stage_fee_dis, original_stage_fee, 
      electric_import_fee, electric_import_fee_dis, 
      original_electric_import_fee, if_has_power_condition, 
      if_select_power_service, oil_generate_electric_method_id, 
      oil_generator_electric_fee, original_oil_generate_electric_fee, 
      other_fee, other_fee_remark, original_other_fee, 
      maintenance_level_id, hight_level_fee, electric_protection_method_id, 
      electric_protection_fee, reserve_battery, 
      room_fee_method, elec_import_fee_method, microwave_service_fee, 
      wlan_service_fee, battery_protection_fee, total_amount, 
      total_actual_amount, change_tower_share_dis_value1, 
      change_tower_share_dis_start_date1, change_room_supporting_share_dis_value1, 
      change_room_supporting_share_dis_start_date1, change_tower_share_dis_value2, 
      change_tower_share_dis_start_date2, change_room_supporting_share_dis_value2, 
      change_room_supporting_share_dis_start_date2, change_tower_share_dis_value3, 
      change_tower_share_dis_start_date3, change_room_supporting_share_dis_value3, 
      change_room_supporting_share_dis_start_date3, change_maintenance_fee_dis_value1, 
      change_maintenance_fee_dis_start_date1, change_stage_fee_dis_value1, 
      change_stage_fee_dis_start_date1, change_electric_import_dis_value1, 
      change_electric_import_dis_start_date1, change_maintenance_fee_dis_value2, 
      change_maintenance_fee_dis_start_date2, change_stage_fee_dis_value2, 
      change_stage_fee_dis_start_date2, change_electric_import_dis_value2, 
      change_electric_import_dis_start_date2, change_maintenance_fee_dis_value3, 
      change_maintenance_fee_dis_start_date3, change_stage_fee_dis_value3, 
      change_stage_fee_dis_start_date3, change_electric_import_dis_value3, 
      change_electric_import_dis_start_date3, publish_user, 
      publish_time, create_user_id, create_time, 
      update_user_id, update_time, check_state,
      tower_base_price
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >
    	(#{item.rentinformationtowerId,jdbcType=VARCHAR}, #{item.regId,jdbcType=VARCHAR}, #{item.resourcesTypeId,jdbcType=VARCHAR}, 
      #{item.businessConfirmNumber,jdbcType=VARCHAR}, #{item.scenceType,jdbcType=VARCHAR}, #{item.agreeBillCode,jdbcType=VARCHAR}, 
      #{item.towerStationCode,jdbcType=VARCHAR}, #{item.towerStationName,jdbcType=VARCHAR}, #{item.operator,jdbcType=VARCHAR}, 
      #{item.operatorRegName,jdbcType=VARCHAR}, #{item.demandRegName,jdbcType=VARCHAR}, #{item.stationRegName,jdbcType=VARCHAR}, 
      #{item.ifTowerLinkOperator,jdbcType=BIT}, #{item.detailAddress,jdbcType=VARCHAR}, #{item.longitude,jdbcType=DOUBLE}, 
      #{item.latitude,jdbcType=DOUBLE}, #{item.productConfigurationId,jdbcType=VARCHAR}, #{item.productTypeId,jdbcType=VARCHAR}, 
      #{item.roomTypeId,jdbcType=VARCHAR}, #{item.supportingTypeId,jdbcType=VARCHAR}, #{item.windPressure,jdbcType=DECIMAL}, 
      #{item.shareTypeId,jdbcType=VARCHAR}, #{item.product1UnitNum,jdbcType=VARCHAR}, #{item.product1Height,jdbcType=VARCHAR}, 
      #{item.product1AntennaNum,jdbcType=VARCHAR}, #{item.product1SystemNum,jdbcType=VARCHAR}, 
      #{item.product1IsUpTowerRRU,jdbcType=BIT}, #{item.product1IfBBUOnRoom,jdbcType=BIT}, #{item.product1BBUFee,jdbcType=VARCHAR}, 
      #{item.product2UnitNum,jdbcType=VARCHAR}, #{item.product2Height,jdbcType=VARCHAR}, #{item.product2AntennaNum,jdbcType=VARCHAR}, 
      #{item.product2SystemNum,jdbcType=VARCHAR}, #{item.product2IsUpTowerRRU,jdbcType=BIT}, #{item.product2IfBBUOnRoom,jdbcType=BIT}, 
      #{item.product2BBUFee,jdbcType=VARCHAR}, #{item.product3UnitNum,jdbcType=VARCHAR}, #{item.product3Height,jdbcType=VARCHAR}, 
      #{item.product3AntennaNum,jdbcType=VARCHAR}, #{item.product3SystemNum,jdbcType=VARCHAR}, 
      #{item.product3IsUpTowerRRU,jdbcType=BIT}, #{item.product3IfBBUOnRoom,jdbcType=BIT}, #{item.product3BBUFee,jdbcType=VARCHAR}, 
      #{item.antennaHeightRangeId,jdbcType=VARCHAR}, #{item.towerHeight,jdbcType=VARCHAR}, #{item.ifstandardBuildFee,jdbcType=BIT}, 
      #{item.ifRRUDis,jdbcType=BIT}, #{item.currentTowerShareNum,jdbcType=INTEGER}, #{item.currentRoomSupportingShareNum,jdbcType=INTEGER}, 
      #{item.currentServiceShareNum,jdbcType=INTEGER}, #{item.currentRoomFeeShareNum,jdbcType=INTEGER}, 
      #{item.currentElecimportShareNum,jdbcType=INTEGER}, #{item.addTowerShareNum,jdbcType=INTEGER}, 
      #{item.addRoomSupportingShareNum,jdbcType=INTEGER}, #{item.isSpecEnterStation,jdbcType=BIT}, 
      #{item.startDate,jdbcType=TIMESTAMP}, #{item.endDate,jdbcType=TIMESTAMP}, #{item.unitProductNumber,jdbcType=VARCHAR}, 
      #{item.towerPrice,jdbcType=DECIMAL}, #{item.roomPrice,jdbcType=DECIMAL}, #{item.supportingPrice,jdbcType=DECIMAL}, 
      #{item.towerShareDis,jdbcType=DECIMAL}, #{item.roomSupportingShareDis,jdbcType=DECIMAL}, 
      #{item.maintenanceFee,jdbcType=DECIMAL}, #{item.maintenanceFeeDis,jdbcType=DECIMAL}, #{item.originalMaintenanceFee,jdbcType=DECIMAL}, 
      #{item.stageFee,jdbcType=DECIMAL}, #{item.stageFeeDis,jdbcType=DECIMAL}, #{item.originalStageFee,jdbcType=DECIMAL}, 
      #{item.electricImportFee,jdbcType=DECIMAL}, #{item.electricImportFeeDis,jdbcType=DECIMAL}, 
      #{item.originalElectricImportFee,jdbcType=DECIMAL}, #{item.ifHasPowerCondition,jdbcType=BIT}, 
      #{item.ifSelectPowerService,jdbcType=BIT}, #{item.oilGenerateElectricMethodId,jdbcType=VARCHAR}, 
      #{item.oilGeneratorElectricFee,jdbcType=DECIMAL}, #{item.originalOilGenerateElectricFee,jdbcType=DECIMAL}, 
      #{item.otherFee,jdbcType=DECIMAL}, #{item.otherFeeRemark,jdbcType=VARCHAR}, #{item.originalOtherFee,jdbcType=DECIMAL}, 
      #{item.maintenanceLevelId,jdbcType=VARCHAR}, #{item.hightLevelFee,jdbcType=DECIMAL}, #{item.electricProtectionMethodId,jdbcType=VARCHAR}, 
      #{item.electricProtectionFee,jdbcType=DECIMAL}, #{item.reserveBattery,jdbcType=DECIMAL}, 
      #{item.roomFeeMethod,jdbcType=VARCHAR}, #{item.elecImportFeeMethod,jdbcType=VARCHAR}, #{item.microwaveServiceFee,jdbcType=VARCHAR}, 
      #{item.wlanServiceFee,jdbcType=VARCHAR}, #{item.batteryProtectionFee,jdbcType=DECIMAL}, #{item.totalAmount,jdbcType=DECIMAL}, 
      #{item.totalActualAmount,jdbcType=DECIMAL}, #{item.changeTowerShareDisValue1,jdbcType=DECIMAL}, 
      #{item.changeTowerShareDisStartDate1,jdbcType=TIMESTAMP}, #{item.changeRoomSupportingShareDisValue1,jdbcType=DECIMAL}, 
      #{item.changeRoomSupportingShareDisStartDate1,jdbcType=TIMESTAMP}, #{item.changeTowerShareDisValue2,jdbcType=DECIMAL}, 
      #{item.changeTowerShareDisStartDate2,jdbcType=TIMESTAMP}, #{item.changeRoomSupportingShareDisValue2,jdbcType=DECIMAL}, 
      #{item.changeRoomSupportingShareDisStartDate2,jdbcType=TIMESTAMP}, #{item.changeTowerShareDisValue3,jdbcType=DECIMAL}, 
      #{item.changeTowerShareDisStartDate3,jdbcType=TIMESTAMP}, #{item.changeRoomSupportingShareDisValue3,jdbcType=DECIMAL}, 
      #{item.changeRoomSupportingShareDisStartDate3,jdbcType=TIMESTAMP}, #{item.changeMaintenanceFeeDisValue1,jdbcType=DECIMAL}, 
      #{item.changeMaintenanceFeeDisStartDate1,jdbcType=TIMESTAMP}, #{item.changeStageFeeDisValue1,jdbcType=DECIMAL}, 
      #{item.changeStageFeeDisStartDate1,jdbcType=TIMESTAMP}, #{item.changeElectricImportDisValue1,jdbcType=DECIMAL}, 
      #{item.changeElectricImportDisStartDate1,jdbcType=TIMESTAMP}, #{item.changeMaintenanceFeeDisValue2,jdbcType=DECIMAL}, 
      #{item.changeMaintenanceFeeDisStartDate2,jdbcType=TIMESTAMP}, #{item.changeStageFeeDisValue2,jdbcType=DECIMAL}, 
      #{item.changeStageFeeDisStartDate2,jdbcType=TIMESTAMP}, #{item.changeElectricImportDisValue2,jdbcType=DECIMAL}, 
      #{item.changeElectricImportDisStartDate2,jdbcType=TIMESTAMP}, #{item.changeMaintenanceFeeDisValue3,jdbcType=DECIMAL}, 
      #{item.changeMaintenanceFeeDisStartDate3,jdbcType=TIMESTAMP}, #{item.changeStageFeeDisValue3,jdbcType=DECIMAL}, 
      #{item.changeStageFeeDisStartDate3,jdbcType=TIMESTAMP}, #{item.changeElectricImportDisValue3,jdbcType=DECIMAL}, 
      #{item.changeElectricImportDisStartDate3,jdbcType=TIMESTAMP}, #{item.publishUser,jdbcType=VARCHAR}, 
      #{item.publishTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
      #{item.updateUserId,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.auditState,jdbcType=INTEGER},
      #{item.towerBasePrice,jdbcType=DECIMAL}
      )
    </foreach>
  </insert>
  
  <!-- 修改铁塔资源信息 -->
  <update id="batchUpdate" parameterType="java.util.List">
	  <foreach collection="list" item="item" index="index" open="" close="" separator=";">
	    update twr_rentinformationtower
	    <set>
	      <if test="item.regId != null">
	        reg_id = #{item.regId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.resourcesTypeId != null">
	        resources_type_id = #{item.resourcesTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.businessConfirmNumber != null">
	        business_confirm_number = #{item.businessConfirmNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="item.scenceType != null">
	        scence_type = #{item.scenceType,jdbcType=VARCHAR},
	      </if>
	      <if test="item.agreeBillCode != null">
	        agree_bill_code = #{item.agreeBillCode,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerStationCode != null">
	        tower_station_code = #{item.towerStationCode,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerStationName != null">
	        tower_station_name = #{item.towerStationName,jdbcType=VARCHAR},
	      </if>
	      <if test="item.operator != null">
	        operator = #{item.operator,jdbcType=VARCHAR},
	      </if>
	      <if test="item.operatorRegName != null">
	        operator_reg_name = #{item.operatorRegName,jdbcType=VARCHAR},
	      </if>
	      <if test="item.demandRegName != null">
	        demand_reg_name = #{item.demandRegName,jdbcType=VARCHAR},
	      </if>
	      <if test="item.stationRegName != null">
	        station_reg_name = #{item.stationRegName,jdbcType=VARCHAR},
	      </if>
	      <if test="item.ifTowerLinkOperator != null">
	        if_tower_link_operator = #{item.ifTowerLinkOperator,jdbcType=INTEGER},
	      </if>
	      <if test="item.detailAddress != null">
	        detail_address = #{item.detailAddress,jdbcType=VARCHAR},
	      </if>
	      <if test="item.longitude != null">
	        longitude = #{item.longitude,jdbcType=DECIMAL},
	      </if>
	      <if test="item.latitude != null">
	        latitude = #{item.latitude,jdbcType=DECIMAL},
	      </if>
	      <if test="item.productConfigurationId != null">
	        product_configuration_id = #{item.productConfigurationId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.productTypeId != null">
	        product_type_id = #{item.productTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.roomTypeId != null">
	        room_type_id = #{item.roomTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.supportingTypeId != null">
	        supporting_type_id = #{item.supportingTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.windPressure != null">
	        wind_pressure = #{item.windPressure,jdbcType=DECIMAL},
	      </if>
	      <if test="item.shareTypeId != null">
	        share_type_id = #{item.shareTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product1UnitNum != null">
	        product1_unit_num = #{item.product1UnitNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product1Height != null">
	        product1_height = #{item.product1Height,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product1AntennaNum != null">
	        product1_antenna_num = #{item.product1AntennaNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product1SystemNum != null">
	        product1_system_num = #{item.product1SystemNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product1IsUpTowerRRU != null">
	        product1_is_up_towerRRU = #{item.product1IsUpTowerRRU,jdbcType=INTEGER},
	      </if>
	      <if test="item.product1IfBBUOnRoom != null">
	        product1_ifBBU_on_room = #{item.product1IfBBUOnRoom,jdbcType=INTEGER},
	      </if>
	      <if test="item.product1BBUFee != null">
	        product1_BBU_fee = #{item.product1BBUFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.product2UnitNum != null">
	        product2_unit_num = #{item.product2UnitNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product2Height != null">
	        product2_height = #{item.product2Height,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product2AntennaNum != null">
	        product2_antenna_num = #{item.product2AntennaNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product2SystemNum != null">
	        product2_system_num = #{item.product2SystemNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product2IsUpTowerRRU != null">
	        product2_is_up_towerRRU = #{item.product2IsUpTowerRRU,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product2IfBBUOnRoom != null">
	        product2_ifBBU_on_room = #{item.product2IfBBUOnRoom,jdbcType=INTEGER},
	      </if>
	      <if test="item.product2BBUFee != null">
	        product2_BBU_fee = #{item.product2BBUFee,jdbcType=INTEGER},
	      </if>
	      <if test="item.product3UnitNum != null">
	        product3_unit_num = #{item.product3UnitNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product3Height != null">
	        product3_height = #{item.product3Height,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product3AntennaNum != null">
	        product3_antenna_num = #{item.product3AntennaNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product3SystemNum != null">
	        product3_system_num = #{item.product3SystemNum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.product3IsUpTowerRRU != null">
	        product3_is_up_towerRRU = #{item.product3IsUpTowerRRU,jdbcType=INTEGER},
	      </if>
	      <if test="item.product3IfBBUOnRoom != null">
	        product3_ifBBU_on_room = #{item.product3IfBBUOnRoom,jdbcType=INTEGER},
	      </if>
	      <if test="item.product3BBUFee != null">
	        product3_BBU_fee = #{item.product3BBUFee,jdbcType=VARCHAR},
	      </if>
	      <if test="item.antennaHeightRangeId != null">
	        antenna_height_range_id = #{item.antennaHeightRangeId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerHeight != null">
	        tower_height = #{item.towerHeight,jdbcType=VARCHAR},
	      </if>
	      <if test="item.ifstandardBuildFee != null">
	        ifstandard_build_fee = #{item.ifstandardBuildFee,jdbcType=INTEGER},
	      </if>
	      <if test="item.ifRRUDis != null">
	        ifRRU_dis = #{item.ifRRUDis,jdbcType=INTEGER},
	      </if>
	      <if test="item.currentTowerShareNum != null">
	        current_tower_share_num = #{item.currentTowerShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.currentRoomSupportingShareNum != null">
	        current_room_supporting_share_num = #{item.currentRoomSupportingShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.currentServiceShareNum != null">
	        current_service_share_num = #{item.currentServiceShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.currentRoomFeeShareNum != null">
	        current_room_fee_share_num = #{item.currentRoomFeeShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.currentElecimportShareNum != null">
	        current_elecimport_share_num = #{item.currentElecimportShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.addTowerShareNum != null">
	        add_tower_share_num = #{item.addTowerShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.addRoomSupportingShareNum != null">
	        add_room_supporting_share_num = #{item.addRoomSupportingShareNum,jdbcType=INTEGER},
	      </if>
	      <if test="item.isSpecEnterStation != null">
	        is_spec_enter_station = #{item.isSpecEnterStation,jdbcType=INTEGER},
	      </if>
	      <if test="item.startDate != null">
	        start_date = #{item.startDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.endDate != null">
	        end_date = #{item.endDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.unitProductNumber != null">
	        unit_product_number = #{item.unitProductNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerPrice != null">
	        tower_price = #{item.towerPrice,jdbcType=DECIMAL},
	      </if>
	      <if test="item.roomPrice != null">
	        room_price = #{item.roomPrice,jdbcType=DECIMAL},
	      </if>
	      <if test="item.supportingPrice != null">
	        supporting_price = #{item.supportingPrice,jdbcType=DECIMAL},
	      </if>
	      <if test="item.towerShareDis != null">
	        tower_share_dis = #{item.towerShareDis,jdbcType=DECIMAL},
	      </if>
	      <if test="item.roomSupportingShareDis != null">
	        room_supporting_share_dis = #{item.roomSupportingShareDis,jdbcType=DECIMAL},
	      </if>
	      <if test="item.maintenanceFee != null">
	        maintenance_fee = #{item.maintenanceFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.maintenanceFeeDis != null">
	        maintenance_fee_dis = #{item.maintenanceFeeDis,jdbcType=DECIMAL},
	      </if>
	      <if test="item.originalMaintenanceFee != null">
	        original_maintenance_fee = #{item.originalMaintenanceFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.stageFee != null">
	        stage_fee = #{item.stageFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.stageFeeDis != null">
	        stage_fee_dis = #{item.stageFeeDis,jdbcType=DECIMAL},
	      </if>
	      <if test="item.originalStageFee != null">
	        original_stage_fee = #{item.originalStageFee,jdbcType=VARCHAR},
	      </if>
	      <if test="item.electricImportFee != null">
	        electric_import_fee = #{item.electricImportFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.electricImportFeeDis != null">
	        electric_import_fee_dis = #{item.electricImportFeeDis,jdbcType=DECIMAL},
	      </if>
	      <if test="item.originalElectricImportFee != null">
	        original_electric_import_fee = #{item.originalElectricImportFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.ifHasPowerCondition != null">
	        if_has_power_condition = #{item.ifHasPowerCondition,jdbcType=INTEGER},
	      </if>
	      <if test="item.ifSelectPowerService != null">
	        if_select_power_service = #{item.ifSelectPowerService,jdbcType=INTEGER},
	      </if>
	      <if test="item.oilGenerateElectricMethodId != null">
	        oil_generate_electric_method_id = #{item.oilGenerateElectricMethodId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.oilGeneratorElectricFee != null">
	        oil_generator_electric_fee = #{item.oilGeneratorElectricFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.originalOilGenerateElectricFee != null">
	        original_oil_generate_electric_fee = #{item.originalOilGenerateElectricFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.otherFee != null">
	        other_fee = #{item.otherFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.otherFeeRemark != null">
	        other_fee_remark = #{item.otherFeeRemark,jdbcType=VARCHAR},
	      </if>
	      <if test="item.originalOtherFee != null">
	        original_other_fee = #{item.originalOtherFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.maintenanceLevelId != null">
	        maintenance_level_id = #{item.maintenanceLevelId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.hightLevelFee != null">
	        hight_level_fee = #{item.hightLevelFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.electricProtectionMethodId != null">
	        electric_protection_method_id = #{item.electricProtectionMethodId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.electricProtectionFee != null">
	        electric_protection_fee = #{item.electricProtectionFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.reserveBattery != null">
	        reserve_battery = #{item.reserveBattery,jdbcType=DECIMAL},
	      </if>
	      <if test="item.roomFeeMethod != null">
	        room_fee_method = #{item.roomFeeMethod,jdbcType=VARCHAR},
	      </if>
	      <if test="item.elecImportFeeMethod != null">
	        elec_import_fee_method = #{item.elecImportFeeMethod,jdbcType=VARCHAR},
	      </if>
	      <if test="item.microwaveServiceFee != null">
	        microwave_service_fee = #{item.microwaveServiceFee,jdbcType=VARCHAR},
	      </if>
	      <if test="item.wlanServiceFee != null">
	        wlan_service_fee = #{item.wlanServiceFee,jdbcType=VARCHAR},
	      </if>
	      <if test="item.batteryProtectionFee != null">
	        battery_protection_fee = #{item.batteryProtectionFee,jdbcType=DECIMAL},
	      </if>
	      <if test="item.totalAmount != null">
	        total_amount = #{item.totalAmount,jdbcType=DECIMAL},
	      </if>
	      <if test="item.totalActualAmount != null">
	        total_actual_amount = #{item.totalActualAmount,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeTowerShareDisValue1 != null">
	        change_tower_share_dis_value1 = #{item.changeTowerShareDisValue1,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeTowerShareDisStartDate1 != null">
	        change_tower_share_dis_start_date1 = #{item.changeTowerShareDisStartDate1,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeRoomSupportingShareDisValue1 != null">
	        change_room_supporting_share_dis_value1 = #{item.changeRoomSupportingShareDisValue1,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeRoomSupportingShareDisStartDate1 != null">
	        change_room_supporting_share_dis_start_date1 = #{item.changeRoomSupportingShareDisStartDate1,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeTowerShareDisValue2 != null">
	        change_tower_share_dis_value2 = #{item.changeTowerShareDisValue2,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeTowerShareDisStartDate2 != null">
	        change_tower_share_dis_start_date2 = #{item.changeTowerShareDisStartDate2,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeRoomSupportingShareDisValue2 != null">
	        change_room_supporting_share_dis_value2 = #{item.changeRoomSupportingShareDisValue2,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeRoomSupportingShareDisStartDate2 != null">
	        change_room_supporting_share_dis_start_date2 = #{item.changeRoomSupportingShareDisStartDate2,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeTowerShareDisValue3 != null">
	        change_tower_share_dis_value3 = #{item.changeTowerShareDisValue3,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeTowerShareDisStartDate3 != null">
	        change_tower_share_dis_start_date3 = #{item.changeTowerShareDisStartDate3,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeRoomSupportingShareDisValue3 != null">
	        change_room_supporting_share_dis_value3 = #{item.changeRoomSupportingShareDisValue3,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeRoomSupportingShareDisStartDate3 != null">
	        change_room_supporting_share_dis_start_date3 = #{item.changeRoomSupportingShareDisStartDate3,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeMaintenanceFeeDisValue1 != null">
	        change_maintenance_fee_dis_value1 = #{item.changeMaintenanceFeeDisValue1,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeMaintenanceFeeDisStartDate1 != null">
	        change_maintenance_fee_dis_start_date1 = #{item.changeMaintenanceFeeDisStartDate1,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeStageFeeDisValue1 != null">
	        change_stage_fee_dis_value1 = #{item.changeStageFeeDisValue1,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeStageFeeDisStartDate1 != null">
	        change_stage_fee_dis_start_date1 = #{item.changeStageFeeDisStartDate1,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeElectricImportDisValue1 != null">
	        change_electric_import_dis_value1 = #{item.changeElectricImportDisValue1,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeElectricImportDisStartDate1 != null">
	        change_electric_import_dis_start_date1 = #{item.changeElectricImportDisStartDate1,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeMaintenanceFeeDisValue2 != null">
	        change_maintenance_fee_dis_value2 = #{item.changeMaintenanceFeeDisValue2,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeMaintenanceFeeDisStartDate2 != null">
	        change_maintenance_fee_dis_start_date2 = #{item.changeMaintenanceFeeDisStartDate2,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeStageFeeDisValue2 != null">
	        change_stage_fee_dis_value2 = #{item.changeStageFeeDisValue2,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeStageFeeDisStartDate2 != null">
	        change_stage_fee_dis_start_date2 = #{item.changeStageFeeDisStartDate2,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeElectricImportDisValue2 != null">
	        change_electric_import_dis_value2 = #{item.changeElectricImportDisValue2,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeElectricImportDisStartDate2 != null">
	        change_electric_import_dis_start_date2 = #{item.changeElectricImportDisStartDate2,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeMaintenanceFeeDisValue3 != null">
	        change_maintenance_fee_dis_value3 = #{item.changeMaintenanceFeeDisValue3,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeMaintenanceFeeDisStartDate3 != null">
	        change_maintenance_fee_dis_start_date3 = #{item.changeMaintenanceFeeDisStartDate3,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeStageFeeDisValue3 != null">
	        change_stage_fee_dis_value3 = #{item.changeStageFeeDisValue3,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeStageFeeDisStartDate3 != null">
	        change_stage_fee_dis_start_date3 = #{item.changeStageFeeDisStartDate3,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.changeElectricImportDisValue3 != null">
	        change_electric_import_dis_value3 = #{item.changeElectricImportDisValue3,jdbcType=DECIMAL},
	      </if>
	      <if test="item.changeElectricImportDisStartDate3 != null">
	        change_electric_import_dis_start_date3 = #{item.changeElectricImportDisStartDate3,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.publishUser != null">
	        publish_user = #{item.publishUser,jdbcType=VARCHAR},
	      </if>
	      <if test="item.publishTime != null">
	        publish_time = #{item.publishTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.createUserId != null">
	        create_user_id = #{item.createUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.createTime != null">
	        create_time = #{item.createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.updateUserId != null">
	        update_user_id = #{item.updateUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.updateTime != null">
	        update_time = #{item.updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.auditState != null">
	        check_state = #{item.auditState,jdbcType=INTEGER},
	      </if>
	      <if test="item.towerBasePrice != null">
	        tower_base_price = #{item.towerBasePrice,jdbcType=DECIMAL},
	      </if>
	    </set>
	   	<where>
	   		<if test="item.businessConfirmNumber != null">
	        	and business_confirm_number = #{item.businessConfirmNumber,jdbcType=VARCHAR}
		    </if>
		    <if test="item.towerStationCode != null">
		        and tower_station_code = #{item.towerStationCode,jdbcType=VARCHAR}
		    </if>
	   	</where>
	  </foreach>
  </update>
  
  
   <resultMap id="resultMap" type="com.xunge.model.towerrent.TowerRentInformationBean" >
   	<id column="rentinformation_id" property="rentinformationId" jdbcType="VARCHAR" />
    <result column="business_confirm_number" property="businessConfirmNumber" jdbcType="VARCHAR" />
    <result column="tower_station_code" property="towerStationCode" jdbcType="VARCHAR" />
    
  </resultMap>
  <select id="queryMobileTowerRentInformation" parameterType="Map" resultMap="resultMap">
		select rentinformation_id,business_confirm_number,tower_station_code
		from twr_rentinformation
		where business_confirm_number = #{businessConfirmNumber} 
		and tower_station_code = #{towerStationCode}
		and end_date &gt;= #{activeDate} 
		and start_date &lt;=  #{activeDate}
	</select>
</mapper>