<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.towerrent.TowerStopServerMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.towerrent.TowerStopServerVO" >
    <id column="stopserver_id" property="stopServerId" jdbcType="VARCHAR" />
    <result column="business_confirm_number" property="businessConfirmNumber" jdbcType="VARCHAR" />
    <result column="reg_id" property="regId" jdbcType="VARCHAR" />
    <result column="tower_station_name" property="towerStationName" jdbcType="VARCHAR" />
    <result column="tower_station_code" property="towerStationCode" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="stop_use_date" property="stopUseDate" jdbcType="TIMESTAMP" />
    <result column="stop_reason" property="stopReason" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="check_state" property="auditState" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    stopserver_id, business_confirm_number, twr_rentinformationtower_stopserver.reg_id, tower_station_name, tower_station_code, 
    start_date, end_date, stop_use_date, stop_reason, create_user_id, create_time, check_state
  </sql>
  
  <sql id="selectColumn">
  	business_confirm_number,tower_station_code
  </sql>
  
  <select id="queryDataByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select  
  	<include refid="selectColumn"/>
  	from 
  	twr_rentinformationtower_stopserver INNER JOIN v_sys_region ON v_sys_region.reg_id = twr_rentinformationtower_stopserver.reg_id
  	<where>
  		<if test="regId != '' and regId != null">
			and twr_rentinformationtower_stopserver.reg_id = #{regId,jdbcType=VARCHAR}
		</if>
    	<if test="pregId != '' and pregId != null">
    		and v_sys_region.preg_id = #{pregId,jdbcType=VARCHAR}
    	</if>
    	<if test="prvId != '' and prvId != null">
    		and v_sys_region.prv_id = #{prvId,jdbcType=VARCHAR}
    	</if>
  	</where>
  </select>
  <!-- 批量添加 -->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into twr_rentinformationtower_stopserver (stopserver_id, business_confirm_number, 
      reg_id, tower_station_name, tower_station_code, 
      start_date, end_date, stop_use_date, 
      stop_reason, create_user_id, create_time, 
      check_state)
    values 
     <foreach collection="list" item="item" index="index" separator="," > 
	    (#{item.stopServerId,jdbcType=VARCHAR}, #{item.businessConfirmNumber,jdbcType=VARCHAR}, 
	      #{item.regId,jdbcType=VARCHAR}, #{item.towerStationName,jdbcType=VARCHAR}, 
	      #{item.towerStationCode,jdbcType=VARCHAR}, #{item.startDate,jdbcType=TIMESTAMP}, 
	      #{item.endDate,jdbcType=TIMESTAMP}, #{item.stopUseDate,jdbcType=TIMESTAMP}, 
	      #{item.stopReason,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=VARCHAR}, 
	      now(), #{item.auditState,jdbcType=VARCHAR})
      </foreach>
  </insert>
  
  <!-- 批量修改 -->
  <update id="batchUpdate" parameterType="java.util.List">
  	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
	    update twr_rentinformationtower_stopserver
	    <set >
	      <if test="item.businessConfirmNumber != null" >
	        business_confirm_number = #{item.businessConfirmNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="item.regId != null" >
	        reg_id = #{item.regId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerStationName != null" >
	        tower_station_name = #{item.towerStationName,jdbcType=VARCHAR},
	      </if>
	      <if test="item.towerStationCode != null" >
	        tower_station_code = #{item.towerStationCode,jdbcType=VARCHAR},
	      </if>
	      <if test="item.startDate != null" >
	        start_date = #{item.startDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.endDate != null" >
	        end_date = #{item.endDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.stopUseDate != null" >
	        stop_use_date = #{item.stopUseDate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.stopReason != null" >
	        stop_reason = #{item.stopReason,jdbcType=VARCHAR},
	      </if>
	      <if test="item.createUserId != null" >
	        create_user_id = #{item.createUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="item.createTime != null" >
	        create_time = #{item.createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.auditState != null" >
	        check_state = #{item.auditState,jdbcType=VARCHAR},
	      </if>
	    </set>
	    <where>
	    	<if test="item.businessConfirmNumber != null" >
	        	and business_confirm_number = #{item.businessConfirmNumber,jdbcType=VARCHAR}
	        </if>
	    	<if test="item.towerStationCode != null" >
	       	 	and tower_station_code = #{item.towerStationCode,jdbcType=VARCHAR}
	      	</if>
	    </where>
  	</foreach>
  </update>
</mapper>