<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.GrpDatacollectVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.datacollect.GrpDatacollectVO" >
    <id column="datacollect_id" property="datacollectId" jdbcType="VARCHAR" />
    <result column="datacollect_title" property="datacollectTitle" jdbcType="VARCHAR" />
    <result column="datacollect_deadline" property="datacollectDeadline" jdbcType="VARCHAR" />
    <result column="datacollect_note" property="datacollectNote" jdbcType="VARCHAR" />
    <result column="datacollect_state" property="datacollectState" jdbcType="INTEGER" />
    <result column="datacollect_date" property="datacollectDate" jdbcType="VARCHAR" />
    <result column="datacollect_user" property="datacollectUser" jdbcType="VARCHAR" />
    <result column="datacollect_copy" property="datacollectCopy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    datacollect_id, datacollect_title, datacollect_deadline, datacollect_note, datacollect_state, 
    datacollect_date, datacollect_user ,datacollect_copy
  </sql>
  <!-- 根据省公司上报编码查询集团派发时间 -->
  <select id="querySendDateByPrvId" parameterType="Map" resultType="java.lang.String">
  	select gd.datacollect_date
  	from grp_datacollect gd
  	where gd.datacollect_id = (
  		select gdp.datacollect_id
  		from grp_datacollect_prv gdp
  		where gdp.datacollect_prv_id = #{datacollectPrvId}
  	)
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from grp_datacollect
    where datacollect_id = #{datacollectId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.xunge.model.datacollect.GrpDatacollectVO" >
    insert into grp_datacollect (datacollect_id, datacollect_title, 
      datacollect_deadline, datacollect_note, datacollect_state, 
      datacollect_date, datacollect_user)
    values (#{datacollectId,jdbcType=VARCHAR}, #{datacollectTitle,jdbcType=VARCHAR}, 
      #{datacollectDeadline,jdbcType=DATE}, #{datacollectNote,jdbcType=VARCHAR}, #{datacollectState,jdbcType=INTEGER}, 
      #{datacollectDate,jdbcType=DATE}, #{datacollectUser,jdbcType=VARCHAR})
  </insert>
  <!-- 查询集团收集表数据 -->
  <select id="queryGrpDataCollectVO" parameterType="Map" resultMap="BaseResultMap">
  	select datacollect_id,datacollect_title,datacollect_deadline,datacollect_state, 
    datacollect_date,datacollect_user
    from grp_datacollect
    <where>
    	1 = 1
    	<if test="datacollectTitle != null and datacollectTitle != ''">
    		and datacollect_title like CONCAT('%',#{datacollectTitle},'%')
    	</if>
    	<if test="datacollectState != null">
    		and datacollect_state in
    		<foreach collection="datacollectState" open="(" separator="," close=")" item="item" index="index">
    			#{item}
    		</foreach> 
    	</if>
		<if test="startDatacollectDeadline != null and startDatacollectDeadline != ''">
    		and datacollect_deadline &gt;= #{startDatacollectDeadline}
    	</if>
		<if test="endDatacollectDeadline !=null and endDatacollectDeadline !=''"> 
			and datacollect_deadline &lt;  #{endDatacollectDeadline}
		</if>
		<if test="startDatacollectDate != null and startDatacollectDate != ''">
    		and datacollect_date &gt;= #{startDatacollectDate}
    	</if>
		<if test="endDatacollectDate !=null and endDatacollectDate !=''"> 
			and datacollect_date &lt;  #{endDatacollectDate}
		</if>
    </where>
    	<if test="order == 1">
    		ORDER BY datacollect_date desc
    	</if>
    	<if test="order == 2">
    		ORDER BY datacollect_date
    	</if>
    	<if test="order == 3">
    		ORDER BY datacollect_deadline desc
    	</if>
    	<if test="order == 4">
    		ORDER BY datacollect_deadline
    	</if>
  </select>
  <!-- 集团收集-状态修改为已完结 -->
  <update id="updateDatacollectToFinish" parameterType="Map">
  	update grp_datacollect
  	set datacollect_state = #{datacollectState}
  	where datacollect_id = #{datacollectId}
  </update>
  <!-- 删除集团收集表数据 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from grp_datacollect
    where datacollect_id = #{datacollectId,jdbcType=VARCHAR}
  </delete>
  <!-- 新增集团收集表数据 -->
  <insert id="insertSelective" parameterType="com.xunge.model.datacollect.GrpDatacollectVO" >
    insert into grp_datacollect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="datacollectId != null" >
        datacollect_id,
      </if>
      <if test="datacollectTitle != null" >
        datacollect_title,
      </if>
      <if test="datacollectDeadline != null" >
        datacollect_deadline,
      </if>
      <if test="datacollectNote != null" >
        datacollect_note,
      </if>
      <if test="datacollectState != null" >
        datacollect_state,
      </if>
      <if test="datacollectDate != null" >
        datacollect_date,
      </if>
      <if test="datacollectUser != null" >
        datacollect_user,
      </if>
      <if test="datacollectCopy != null" >
        datacollect_copy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="datacollectId != null" >
        #{datacollectId,jdbcType=VARCHAR},
      </if>
      <if test="datacollectTitle != null" >
        #{datacollectTitle,jdbcType=VARCHAR},
      </if>
      <if test="datacollectDeadline != null" >
        #{datacollectDeadline,jdbcType=DATE},
      </if>
      <if test="datacollectNote != null" >
        #{datacollectNote,jdbcType=VARCHAR},
      </if>
      <if test="datacollectState != null" >
        #{datacollectState,jdbcType=INTEGER},
      </if>
      <if test="datacollectDate != null" >
        #{datacollectDate,jdbcType=DATE},
      </if>
      <if test="datacollectUser != null" >
        #{datacollectUser,jdbcType=VARCHAR},s
	  </if>
	  <if test="datacollectCopy != null" >
        #{datacollectCopy,jdbcType=VARCHAR},
	  </if>
    </trim>
  </insert>
  <!-- 修改集团收集表数据 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.datacollect.GrpDatacollectVO" >
    update grp_datacollect
    <set >
      <if test="datacollectTitle != null" >
        datacollect_title = #{datacollectTitle,jdbcType=VARCHAR},
      </if>
      <if test="datacollectDeadline != null" >
        datacollect_deadline = #{datacollectDeadline,jdbcType=DATE},
      </if>
      <if test="datacollectNote != null" >
        datacollect_note = #{datacollectNote,jdbcType=VARCHAR},
      </if>
      <if test="datacollectState != null" >
        datacollect_state = #{datacollectState,jdbcType=INTEGER},
      </if>
      <if test="datacollectDate != null" >
        datacollect_date = #{datacollectDate,jdbcType=DATE},
      </if>
      <if test="datacollectUser != null" >
        datacollect_user = #{datacollectUser,jdbcType=VARCHAR},
      </if>
      <if test="datacollectCopy != null" >
        datacollect_copy = #{datacollectCopy,jdbcType=VARCHAR},
      </if>
    </set>
    where datacollect_id = #{datacollectId,jdbcType=VARCHAR}
  </update>
  <!-- 根据id查询所有数据收集信息 -->
  <select id="queryGrpDataCollectById" parameterType="Map" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from grp_datacollect
  	where datacollect_id = #{datacollectId}
  </select>
  <!-- 派发 -->
  <update id="updateStateById" parameterType="Map">
  	update grp_datacollect
  	set datacollect_state = #{datacollectState},
  	datacollect_date = #{datacollectDate},
  	datacollect_user = #{datacollectUser}
  	where datacollect_id = #{datacollectId}
  </update>
  <!-- 验证标题是否重复 -->
  <select id="querySameThing" parameterType="java.lang.String" resultType="java.lang.String">
  	select datacollect_id
  	from grp_datacollect
  	where datacollect_title = #{datacollectTitle}
  </select>
  <!-- 根据集团收集id查询标题 -->
  <select id="queryTitleById" parameterType="Map" resultMap="BaseResultMap">
  	select datacollect_title,
  		datacollect_deadline
  	from grp_datacollect
  	where datacollect_id = #{datacollectId}
  </select>
  <!-- 根据集团收集id查询抄送用户 -->
  <select id="queryCopyUserById" parameterType="Map" resultType="java.lang.String">
  	select datacollect_copy
  	from grp_datacollect
  	where datacollect_id = #{datacollectId}
  </select>
</mapper>