<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.GrpDatacollectHistoryVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.datacollect.GrpDatacollectHistoryVO" >
    <id column="grp_datacollect_history_id" property="grpDatacollectHistoryId" jdbcType="VARCHAR" />
    <result column="datacollect_prv_id" property="datacollectPrvId" jdbcType="VARCHAR" />
    <result column="history_msg" property="historyMsg" jdbcType="VARCHAR" />
    <result column="hisyory_date" property="hisyoryDate" jdbcType="VARCHAR" />
    <result column="history_create_user_id" property="historyCreateUserId" jdbcType="VARCHAR" />
    <result column="history_prv_file_path" property="historyPrvFilePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    grp_datacollect_history_id, datacollect_prv_id, history_msg, hisyory_date, history_create_user_id,
    history_prv_file_path
  </sql>
  <!-- 新增一条历史交互记录 -->
  <insert id="insertSelective" parameterType="com.xunge.model.datacollect.GrpDatacollectHistoryVO" >
    insert into grp_datacollect_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="grpDatacollectHistoryId != null" >
        grp_datacollect_history_id,
      </if>
      <if test="datacollectPrvId != null" >
        datacollect_prv_id,
      </if>
      <if test="historyMsg != null" >
        history_msg,
      </if>
      <if test="hisyoryDate != null" >
        hisyory_date,
      </if>
      <if test="historyCreateUserId != null" >
        history_create_user_id,
      </if>
      <if test="historyPrvFilePath != null" >
        history_prv_file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="grpDatacollectHistoryId != null" >
        #{grpDatacollectHistoryId,jdbcType=VARCHAR},
      </if>
      <if test="datacollectPrvId != null" >
        #{datacollectPrvId,jdbcType=VARCHAR},
      </if>
      <if test="historyMsg != null" >
        #{historyMsg,jdbcType=VARCHAR},
      </if>
      <if test="hisyoryDate != null" >
        #{hisyoryDate,jdbcType=DATE},
      </if>
      <if test="historyCreateUserId != null" >
        #{historyCreateUserId,jdbcType=VARCHAR},
      </if>
      <if test="historyPrvFilePath != null" >
        #{historyPrvFilePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据省份上报信息编码查询历史记录 -->
  <select id="queryHistoryByPrvId" parameterType="Map" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from grp_datacollect_history
  	where datacollect_prv_id = #{datacollectPrvId}
  	order by hisyory_date
  </select>
</mapper>