<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunge.dao.GrpDatacollecttypeVOMapper" >
  <resultMap id="BaseResultMap" type="com.xunge.model.datacollect.GrpDatacollecttypeVO" >
    <id column="datacollecttype_id" property="datacollecttypeId" jdbcType="VARCHAR" />
    <result column="datacollect_id" property="datacollectId" jdbcType="VARCHAR" />
    <result column="datacollecttemp_type" property="datacollecttempType" jdbcType="VARCHAR" />
    <result column="datacollecttemp_filepath" property="datacollecttempFilepath" jdbcType="VARCHAR" />
    <result column="datacollecttemp_filename" property="datacollecttempFilename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    datacollecttype_id, datacollect_id, datacollecttemp_type,
    datacollecttemp_filepath,datacollecttemp_filename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from grp_datacollecttype
    where datacollecttype_id = #{datacollecttypeId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.xunge.model.datacollect.GrpDatacollecttypeVO" >
    insert into grp_datacollecttype (datacollecttype_id, datacollect_id, 
      datacollecttemp_type, datacollecttemp_filepath
      )
    values (#{datacollecttypeId,jdbcType=VARCHAR}, #{datacollectId,jdbcType=VARCHAR}, 
      #{datacollecttempType,jdbcType=VARCHAR}, #{datacollecttempFilepath,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xunge.model.datacollect.GrpDatacollecttypeVO" >
    update grp_datacollecttype
    set datacollect_id = #{datacollectId,jdbcType=VARCHAR},
      datacollecttemp_type = #{datacollecttempType,jdbcType=VARCHAR},
      datacollecttemp_filepath = #{datacollecttempFilepath,jdbcType=VARCHAR}
    where datacollecttype_id = #{datacollecttypeId,jdbcType=VARCHAR}
  </update>
  <!-- 根据逐渐id删除集团收集数据类型信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from grp_datacollecttype
    where datacollecttype_id = #{datacollecttypeId,jdbcType=VARCHAR}
  </delete>
  <!-- 根据集团收集id查询数据类型信息 -->
  <select id="selectByGrpCollId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from grp_datacollecttype
    where datacollect_id = #{datacollectId,jdbcType=VARCHAR}
    order by datacollecttemp_type
  </select>
  <!-- 根据集团收集表删除集团收集类型 -->
  <delete id="deleteByDCId" parameterType="java.lang.String" >
    delete from grp_datacollecttype
    where datacollect_id = #{datacollectId}
  </delete>
  <!-- 新增集团收集数据类型信息 -->
   <insert id="insertSelective" parameterType="com.xunge.model.datacollect.GrpDatacollecttypeVO" >
    insert into grp_datacollecttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="datacollecttypeId != null" >
        datacollecttype_id,
      </if>
      <if test="datacollectId != null" >
        datacollect_id,
      </if>
      <if test="datacollecttempType != null" >
        datacollecttemp_type,
      </if>
      <if test="datacollecttempFilepath != null" >
        datacollecttemp_filepath,
      </if>
      <if test="datacollecttempFilename != null" >
        datacollecttemp_filename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="datacollecttypeId != null" >
        #{datacollecttypeId,jdbcType=VARCHAR},
      </if>
      <if test="datacollectId != null" >
        #{datacollectId,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempType != null" >
        #{datacollecttempType,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempFilepath != null" >
        #{datacollecttempFilepath,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempFilename != null" >
        #{datacollecttemp_filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 关联集团数据类型和集团收集表 -->
  <update id="updateTypeById" parameterType="Map">
  	update grp_datacollecttype
  	set datacollect_id = #{datacollectId}
  	where datacollecttype_id = #{datacollecttypeId}
  </update>
  <!-- 修改集团收集表，删除已有的关联 -->
  <update id="deleteIdById" parameterType="java.lang.String">
  	UPDATE grp_datacollecttype
	SET datacollect_id = NULL
	WHERE
	datacollect_id = #{datacollectId}
  </update>
  <!-- 修改已有的集团收集数据类型 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.xunge.model.datacollect.GrpDatacollecttypeVO" >
    update grp_datacollecttype
    <set >
      <if test="datacollectId != null" >
        datacollect_id = #{datacollectId,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempType != null" >
        datacollecttemp_type = #{datacollecttempType,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempFilepath != null" >
        datacollecttemp_filepath = #{datacollecttempFilepath,jdbcType=VARCHAR},
      </if>
      <if test="datacollecttempFilename != null" >
        datacollecttemp_filename = #{datacollecttempFilename,jdbcType=VARCHAR},
      </if>
    </set>
    where datacollecttype_id = #{datacollecttypeId,jdbcType=VARCHAR}
  </update>
  <!-- 删除未被关联的集团收集数据类型 -->
  <delete id="deleteUserLessMsg">
  	delete from grp_datacollecttype
  	where datacollect_id is null
  </delete>
  <!-- 集团其他模板文件上传保存 -->
  <update id="updateFiles" parameterType="Map">
  	update grp_datacollecttype
  	<set>
  		<if test="datacollecttempFilepath != null" >
        	datacollecttemp_filepath = #{datacollecttempFilepath},
      	</if>
      	<if test="datacollecttempFilename != null" >
        	datacollecttemp_filename = #{datacollecttempFilename},
      	</if>
  	</set>
  	where datacollecttype_id = #{datacollecttypeId}
  </update>
	<!-- 查询已有的模板数据 -->
	<select id="queryTypeBeUsedById" resultType="java.lang.String" parameterType="java.lang.String">
		select datacollecttemp_type
		from grp_datacollecttype
		where datacollect_id = #{datacollectId}
	</select>
	<!-- 查询已有的模板数据 -->
	<select id="queryTypeBeUsed" resultType="java.lang.String">
		select datacollecttemp_type
		from grp_datacollecttype
		where datacollect_id is null
	</select>
	<!-- 根据typeid查询数据类型 -->
	<select id="queryTempTypeByTypeId" parameterType="Map" resultType="java.lang.String">
		select datacollecttemp_type
		from grp_datacollecttype
		where datacollecttype_id = #{datacollecttypeId}
	</select>
</mapper>